<div class="container">
  <div class="content-list is-dense">
    {{ range . }}
      <div class="content-section animate" id="{{ .name | urlize }}">
        <div class="photo">
          <img src="{{ .photo }}" alt="{{ .name }}">
        </div>
        <div class="body">
          <h2>
            {{ .name }}
          </h2>
          <h3>
            {{ .role }}
          </h3>
          <h4>
            <a href="mailto:{{ .email }}">
              {{ .email }}
            </a>
          </h4>
          <div class="content">
            {{ .content | page.RenderString (dict "display" "block") }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>
