@use "../abstracts";

:root {
  font-size: abstracts.$font-size-base;
  
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: abstracts.$white;
  background-color: abstracts.shade-color(abstracts.$blue-500, 20%);
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: abstracts.$background-color;
  color: abstracts.$foreground-color;
  @include abstracts.make-base-font;
}

// Block elements

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: abstracts.size(3);
  @include abstracts.make-header-font;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p, ul, ol, figure, address {
  margin: 0;
  margin-bottom: abstracts.size(3);
  @include abstracts.make-base-font;
}

ul, ol {
  padding-left: abstracts.size(3);
}

ul ul,
ol ol,
ol ul,
ul ol {
  margin-bottom: 0;
  padding-top: abstracts.size(1);
}

li {
  margin-bottom: abstracts.size(1);

  &:last-child {
    margin-bottom: 0;
  }
}

figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  margin-bottom: abstracts.size(3);
  padding: abstracts.size(3);
  border-left: solid 3px abstracts.$border-color;

  & > :last-child {
    margin-bottom: 0;
  }
}

hr {
  overflow: visible;
  height: 0;
  margin: 0;
  margin-bottom: abstracts.size(3);
  box-sizing: content-box;
  border: none;
  border-top: solid 3px abstracts.$border-color;
}

// Inline elements

img {
  border-style: none;
}

a {
  color: abstracts.$link-color;
  text-decoration: underline;
  text-decoration-color: rgba(abstracts.$link-color, 0.15);
  text-decoration-thickness: 2px;
  transition: color .2s ease, text-decoration-color .2s ease;
  
  &:hover,
  &:active {
    color: abstracts.$link-color-hover;
    text-decoration-color: rgba(abstracts.$link-color, 0.3);
  }
}

strong,
b {
  font-weight: abstracts.$font-weight-heavy;
}

figcaption {
  padding-top: abstracts.size(1);
  color: abstracts.$gray-500;
  font-size: abstracts.$font-size-sm;
  text-align: center;
}

// Form elements

select,
input,
textarea,
button {
  font-family: abstracts.$font-family-base;
  font-size: abstracts.$font-size-base;
  font-weight: abstracts.$font-weight-normal;
  line-height: abstracts.$line-height-base;
}

input[type=text],
textarea {
  padding: abstracts.size(1) abstracts.size(2);
  width: 100%;
  border: solid 1px abstracts.$border-color;
  border-radius: abstracts.size(0.5);
  background-color: abstracts.$background-color;
  color: abstracts.$foreground-color;

  &:focus {
    outline: abstracts.$blue-500;
  }
  &::placeholder {
    color: abstracts.$gray-500;
  }
}

input[type=text] {
  // Remove Chrome's autofill background color
  // https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: abstracts.$foreground-color;
    transition: background-color 5000s ease-in-out 0s;
  }
}
