{{ define "main" }}
<div class="page--connect">
  <div class="container-fluid">
    <div class="content-list content-list--dense">
      {{ range .Params.sections }}
        <div class="content-section animate" id="{{ .headline | urlize }}">
          <div class="content-section__media">
            <img src="{{ .photo }}" alt="{{ .headline }}">
          </div>
          <div class="content-section__body">
            <h2>
              {{ .headline }}
            </h2>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="container-md">
    <div class="blurb blurb--centered animate">
      <div class="blurb__body">
        {{ with .Params.contact }}
          <h2>
            {{ .headline }}
          </h2>
          <div class="blurb__content">
            {{ .content | $.Page.RenderString (dict "display" "block") }}
          </div>
          {{ partial "button.html" (dict "href" (printf `mailto:%s` site.Params.contact.email) "label" .button.text )}}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
