{{ define "main" }}
<div class="connect">
  <div class="container-fluid">
    <div class="content-list dense">
      {{ range .Params.sections }}
        <div class="content-section animate" id="{{ .headline | urlize }}">
          <div class="media">
            <img src="{{ .photo }}" alt="{{ .headline }}">
          </div>
          <div class="body">
            <h2>
              {{ .headline }}
            </h2>
            <div class="content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="container-md">
    <div class="content-blurb has-center-content animate">
      <div class="body">
        {{ with .Params.contact }}
          <h2>
            {{ .headline }}
          </h2>
          <div class="content">
            {{ .content | $.Page.RenderString (dict "display" "block") }}
          </div>
          {{ partial "shared/button.html" (dict "href" (printf `mailto:%s` site.Params.email) "label" .cta )}}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
