{{ define "main" }}
  <main class="main-content | connect">
    <div class="container">
      {{ range .Params.sections }}
        <div class="content-section | animate" id="{{ .headline | urlize }}">
          {{ $alt := .headline }}
          {{ with $.Resources.Get .image }}
            <div class="content-section__media">
              <img src="{{ .RelPermalink }}" alt="{{ $alt }}" class="img img--fill img--rounded">
            </div>
          {{ end }}
          <div class="content-section__body">
            <div class="content-section__header">
              <h2>
                {{ .headline }}
              </h2>
            </div>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ if .tag }}
              {{ $today := time.AsTime (now.Format "2006-01-02") }}
              {{ $events := where site.RegularPages "Params.tags" "intersect" (slice .tag) }}
              {{ $events := where $events "Date" "ge" $today }}
              {{ if gt ($events | len) 0 }}
                <div class="content-section__footer">
                  {{ partial "components/button" (dict "href" (printf "/tags/%s/" .tag ) "text" "View events" "variant" "secondary" )}}
                </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      {{ end }}
      {{ with .Params.callout }}
        <div class="callout">
          <div class="callout__header">
            <h2>
              {{ .headline }}
            </h2>
          </div>
          <div class="callout__content">
            {{ .content | $.Page.RenderString (dict "display" "block") }}
          </div>
          <div class="callout__footer">
            <a href="{{ printf `mailto:%s` site.Params.contact.email }}">
              {{ .button.text }}
            </a>
          </div>
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
