{{ define "main" }}
  <main class="main-content | kids-classes">
    <div class="container">
      {{/* Banner */}}
      {{ if .Params.banner.enabled }}
        {{ with .Params.banner }}
          <div class="banner">
            <div class="banner__icon">
              {{ partial "components/icon" (dict "name" "information" "variant" "current" "size" "xl") }}
            </div>
            <div class="banner__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
          </div>
        {{ end }}
      {{ end }}
      {{/* Sections */}}
      {{ range .Params.sections }}
        <div class="content-section | animate" id="{{ .headline | urlize }}">
          {{ $alt := .headline }}
          {{ with .image }}
            <div class="content-section__media">
              <img src="{{ . }}" alt="{{ $alt }}" class="img img--fill img--rounded">
            </div>
          {{ end }}
          <div class="content-section__body">
            <div class="content-section__header">
              <h2>
                {{ .headline }}
              </h2>
            </div>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
