{{ define "main" }}
<div class="page--staff">
  <div class="container-fluid">
    <div class="content-list content-list--dense">
      {{ range .Params.staff }}
        <div class="content-section animate" id="{{ .name | urlize }}">
          <div class="content-section__media">
            <img src="{{ .photo }}" alt="{{ .name }}">
          </div>
          <div class="content-section__body">
            <h2>
              {{ .name }}
            </h2>
            <h3>
              {{ .role }}
            </h3>
            <h4>
              <a href="mailto:{{ .email }}">
                {{ .email }}
              </a>
            </h4>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
