{{ define "main" }}
  <main class="main-content | staff">
    <div class="container">
      {{ range .Params.sections }}
        <div class="content-section | animate" id="{{ .name | urlize }}">
          {{ $alt := .name }}
          {{ with resources.Get .image }}
            <div class="content-section__media">
              <img src="{{ .RelPermalink }}" alt="{{ $alt }}" class="img img--fill img--rounded">
            </div>
          {{ end }}
          <div class="content-section__body">
            <div class="content-section__header">
              <h2>
                {{ .name }}
              </h2>
              <h3 class="subtitle">
                {{ .role }}
              </h3>
              <h4 class="subtitle">
                <a href="mailto:{{ .email }}">
                  {{ .email }}
                </a>
              </h4>
            </div>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
