<div class="body">
  <h2>
    {{ .Title }}
  </h2>
  {{ if .Date }}
    <hr>
    <h3>
      {{ with .Date }}
        {{ time.Format ":date_full" . }}
      {{ end }}
      {{ with .Params.end_date }}
        – {{ time.Format ":date_long" . }}
      {{ end }}
      {{ if and .Date .Params.time }}
        <br> 
      {{ end }}
      {{ with .Params.time }}
        {{ . }}
      {{ end }}
    </h3>
    {{ with .Params.location }}
      <h4>
        {{ . }}
      </h4>
    {{ end }}
  {{ end }}
  {{ with .Content }}
    <div class="content">
      {{ . }}
    </div>
  {{ end }}
</div>
