{{ if or .HasPrev .HasNext }}
  <ul class="paginator">
    <li>
      {{ if .HasPrev }}
        {{ partial "shared/button.html" (dict "href" .Prev.URL "label" "← Newer" "class" "is-large" )}}
      {{ else }}
        {{ partial "shared/button.html" (dict "label" "← Newer" "class" "is-large is-disabled" )}}
      {{ end }}
    </li>
    <li>
      {{ if .HasNext }}
        {{ partial "shared/button.html" (dict "href" .Next.URL "label" "Older →" "class" "is-large" )}}
      {{ else }}
        {{ partial "shared/button.html" (dict "label" "Older →" "class" "is-large is-disabled" )}}
      {{ end }}
    </li>
  </ul>
{{ end }}
