<nav class="main-nav">
  <ul>
    {{ $page := . }}
    {{ range site.Menus.main }}
      <li{{ if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }} class="main-nav--selected"{{ end }}>
        <a href="{{ .URL }}"{{ if eq .Params.rel "external" }} target="_blank" rel="noopener"{{ end }}>{{ .Name }}</a>
        {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
              <li{{ if $page.IsMenuCurrent "main" . }} class="main-nav--selected"{{ end }}>
                <a href="{{ .URL }}"{{ if eq .Params.rel "external" }} target="_blank" rel="noopener"{{ end }}>{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
