<div class="container-lg">
  <div class="content-list">
    {{ $month := "" }}
    {{ range sort . "date" "asc" }}
      {{/* Skip events in the past */}}
      {{ with .date }}
        {{ if gt (now.Format "2006-01-02") (time.Format "2006-01-02" .) }}
          {{ continue }}
        {{ end }}
      {{ end }}
      {{/* Print date header */}}
      {{ $currentMonth := time.Format "January 2006" .date }}
      {{ if ne $month $currentMonth }}
        {{ $month = $currentMonth }}
        <h2 class="content-event-header animate">
          {{ $month }}
        </h2>
      {{ end }}
      {{/* Print event detais */}}
      <div class="content-event animate">
        <div class="date">
          {{ with .date }}
            <div class="month">
              {{ time.Format "Jan" . }}
            </div>
            <div class="day">
              {{ time.Format "2" . }}
            </div>
          {{ else }}
            <div class="tbd">
              TBD
            </div>
          {{ end }}
        </div>
        <div class="body">
          <h3>
            {{ .title }}
          </h3>
          {{ if or .date .time }}
            <h4>
              {{ with .date }}
                {{ time.Format ":date_full" . }}
              {{ end }}
              {{ if and .date .time }}
                <br> 
              {{ end }}
              {{ with .time }}
                {{ . }}
              {{ end }}
            </h4>
          {{ end }}
          {{ with .location }}
            <h5>
              {{ . }}
            </h5>
          {{ end }}
          {{ with .content }}
            <div class="content">
              {{ . | page.RenderString (dict "display" "block") }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
