@use "sass:color";
@use "sass:map";

// Mix a color with white
@function tint-color($color, $percentage) {
  @return color.mix(white, $color, $percentage);
}

// Mix a color with black
@function shade-color($color, $percentage) {
  @return color.mix(black, $color, $percentage);
}

// Size functions

// Return a size value
@function size($n) {
  @return $size-unit * $n;
}

// Layout functions

// Return a breakpoint min-width value
@function breakpoint-min-width($breakpoint) {
  @return map.get($breakpoint-min-widths, $breakpoint);
}

// Return a breakpoint max-width value
@function breakpoint-max-width($breakpoint) {
  @return map.get($breakpoint-max-widths, $breakpoint);
}

// Return a container max-width value
@function container-max-width($breakpoint) {
  @return map.get($container-max-widths, $breakpoint);
}

// Layout

$breakpoint-min-widths: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$breakpoint-max-widths: (
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px,
  xl: 1399px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Type

$font-family-base: "Outfit", sans-serif;
$font-family-display: "Syne", sans-serif;

$font-size-sm: 16px;
$font-size-base: 18px;
$font-size-lg: 24px;

$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-heavy: 600;

$line-height-base: 1.4;
$line-height-tight: 1.2;

//$font-size-h1: 60px;
//$font-size-h2: 48px;
//$font-size-h3: 32px;
//$font-size-h4: 24px;
//$font-size-h5: 18px;
//$font-size-h6: 16px;

:root {
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: 18px;
  --font-size-h6: 16px;
}
@media (min-width: breakpoint-min-width("lg")) {
  :root {
    --font-size-h1: 60px;
    --font-size-h2: 48px;
    --font-size-h3: 32px;
    --font-size-h4: 24px;
  }
}

// Colors

$white: rgb(255, 255, 255);
//$black: rgb(0, 0, 0);
$blue-900: rgb(16, 37, 62);    // #10253E
$blue-700: rgb(29, 90, 140);   // #1D5A8C
$blue-500: rgb(56, 116, 170);  // #3874AA
$blue-300: rgb(158, 202, 218); // #9ECADA
$blue-100: rgb(191, 223, 232); // #BFDFE8
$blue-50:  rgb(222, 238, 243); // #DEEEF3

$gray-900: tint-color($blue-900, 10%);
$gray-800: tint-color($blue-900, 20%);
$gray-700: tint-color($blue-900, 30%);
$gray-600: tint-color($blue-900, 40%);
$gray-500: tint-color($blue-900, 50%);
$gray-400: tint-color($blue-900, 60%);
$gray-300: tint-color($blue-900, 70%);
$gray-200: tint-color($blue-900, 80%);
$gray-100: tint-color($blue-900, 90%);
$gray-50:  tint-color($blue-900, 95%);

$foreground-color: $blue-900;
$background-color: $white;
$link-color: $blue-500;
$link-color-hover: shade-color($blue-500, 20%);
$border-color: $gray-100;

// Stlyes 

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.4);

// Sizing

$size-unit: 8px;

// Animation (https://easings.net)

$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
