{{ define "main" }}
<div class="sermons">
  <div class="container-fluid">
    <div class="content-list is-dense">
      {{ range .Paginator.Pages }}
        <div class="content-section animate">
          <div class="media">
            <a href="{{ .RelPermalink }}">
              <img src="{{ .Params.image }}" alt="Watch sermon">
            </a>
            {{/* partial "shared/youtube-image.html" (dict "url" .RelPermalink "id" .Params.youtube_id) */}}
          </div>
          <div class="body">
            <h3>
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </h3>
            <h4>
              {{ .Params.verse }}
            </h4>
            {{ .Content }}
            <a href="{{ .RelPermalink }}" class="button is-light">
              {{ $.Params.button_text }}
            </a>
          </div>
        </div>
      {{ end }}
      {{ partial "shared/paginator.html" .Paginator }}
    </div>
  </div>  
</div>
{{ end }}
