{{ define "main" }}
<div class="page--sermons">
  <div class="container-fluid">
    <div class="content-list content-list--dense">
      {{ range .Paginator.Pages }}
        <div class="content-section animate">
          <div class="content-section__media">
            <a href="{{ .RelPermalink }}">
              <img src="{{ .Params.image }}" alt="{{ default .Title .Params.series }}">
            </a>
          </div>
          <div class="content-section__body">
            <h3>
              <a href="{{ .RelPermalink }}">
                {{ dateFormat "January 2, 2006" .Date }}
              </a>
            </h3>
            <h4>
              {{ .Title }}
            </h4>
            <div class="content-section__content">
              {{ .Content }}
            </div>
            <div class="content-section__footer">
              {{ partial "shared/button.html" (dict "href" .RelPermalink "label" $.Params.button_text "variant" "light" )}}
            </div>
          </div>
        </div>
      {{ end }}
      {{ partial "shared/paginator.html" .Paginator }}
    </div>
  </div>  
</div>
{{ end }}
