{{ define "main" }}
<div class="page--sermons">
  <div class="container-fluid">
    <div class="content-list content-list--dense">
      {{ range .Paginator.Pages }}
        <div class="content-section animate">
          <div class="content-section__media">
            <a href="{{ .RelPermalink }}">
              <img src="{{ .Params.image }}" alt="{{ default .Title .Params.series }}">
            </a>
          </div>
          <div class="content-section__body">
            <h3>
              <a href="{{ .RelPermalink }}">
                {{ dateFormat "January 2, 2006" .Date }}
              </a>
            </h3>
            <h4>
              {{ .Title }}
            </h4>
            <div class="content-section__content">
              {{ .Content }}
            </div>
            <div class="content-section__footer">
              {{ partial "button.html" (dict "href" .RelPermalink "label" $.Params.button.text "variant" "light" )}}
            </div>
          </div>
        </div>
      {{ end }}
      {{ with .Paginator }}
        {{ if or .HasPrev .HasNext }}
          <ul class="paginator">
            <li>
              {{ if .HasPrev }}
                {{ partial "button.html" (dict "href" .Prev.URL "label" "← Newer" "variant" "large" )}}
              {{ else }}
                {{ partial "button.html" (dict "label" "← Newer" "variant" "large" "disabled" true )}}
              {{ end }}
            </li>
            <li>
              {{ if .HasNext }}
                {{ partial "button.html" (dict "href" .Next.URL "label" "Older →" "variant" "large" )}}
              {{ else }}
                {{ partial "button.html" (dict "label" "Older →" "variant" "large" "disabled" true )}}
              {{ end }}
            </li>
          </ul>
        {{ end }}
      {{ end }}
    </div>
  </div>  
</div>
{{ end }}
