{{ define "main" }}
  <main class="main-content | sermons">
    <div class="container-lg">
        <div class="content-section content-section--stack | animate">
          <div class="content-section__media">
            {{ partial "components/youtube-embed" (dict "id" .Params.youtubeId) }}
          </div>
          <div class="content-section__body">
            <div class="content-section__header">
              <h3>
                {{ dateFormat "January 2, 2006" .Date }}
              </h3>
              <h4 class="subtitle">
                {{ .Title }}
              </h4>
            </div>
            <div class="content-section__content">
              {{ .Content }}
              {{ .Render "_series-badge" }}
            </div>
          </div>
        </div>
        {{ partial "components/pager" . }}
    </div>  
  </main>
{{ end }}
