{{ define "main" }}
  <main class="main-content | sermons">
    <div class="container-lg">
        <div class="content-section content-section--stack | animate">
          <div class="content-section__media">
            {{ with .Params.youtubeId }}
              <div class="youtube-embed">
                <iframe src="https://www.youtube.com/embed/{{ . }}" frameborder="0" allowfullscreen title="YouTube video"></iframe>
              </div>
            {{ end }}
          </div>
          <div class="content-section__body">
            <div class="content-section__header">
              <h3>
                {{ dateFormat "January 2, 2006" .Date }}
              </h3>
              <h4 class="subtitle">
                {{ .Title }}
              </h4>
            </div>
            <div class="content-section__content">
              {{ .Content }}
              {{ with .GetTerms "series" }}
                {{ range first 1 . }}
                  <p>
                    <span class="badge">
                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </span>
                  </p>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
        {{ partial "components/pager" . }}
    </div>  
  </main>
{{ end }}
