<div class="container">
  <div class="content-list is-dense">
    {{ range .RegularPages }}
      <div class="content-section animate">
        <div class="media">
          {{ partial "shared/youtube-image.html" (dict "url" .RelPermalink "id" .Params.youtube_id) }}
        </div>
        <div class="body">
          <h3>
            {{ .Title }}
          </h3>
          <h4>
            {{ .Params.verse }}
          </h4>
          {{ .Content }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
