{{ define "main" }}
  <main class="main-content | child-discipleship">
    <div class="container">
      {{ range .Params.sections }}
        <div class="content-section | animate" id="{{ .headline | urlize }}">
          {{ with partial "utils/process-image.html" (dict
            "res" (resources.Get .image)
            "width" 800
            "height" 533
            "process" "fit jpg q80 lanczos"
          )}}
            <div class="content-section__media">
              <img src="{{ .RelPermalink }}" alt="{{ path.BaseName .Name | humanize }}" class="img img--fill img--rounded">
            </div>
          {{ end }}
          <div class="content-section__body">
            <div class="content-section__header">
              <h2>
                {{ .headline }}
              </h2>
            </div>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ with .button }}
              {{ if and .href .text }}
                <div class="content-section__footer">
                  {{ partial "components/button" (dict "href" .href "text" .text "variant" (or .variant "secondary") )}}
                </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      {{ end }}
      {{ with .Params.faqs }}
        <h2 class="animate">
          {{ .headline }}
        </h2>
        <div class="accordion | animate">
          {{ range .questions }}
            <details name="faqs">
              <summary>{{ .question }}</summary>
              {{ .answer | $.Page.RenderString (dict "display" "block") }}
            </details>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
