{{- /*
@param {page} Page context

@example {{ partial "components/paginator" . }}
*/}}
{{- with .Paginator }}
  {{- if or .HasPrev .HasNext }}
    <ul class="paginator">
      <li>
        {{- if .HasNext }}
          {{ partial "components/button" (dict "href" .Next.URL "text" "← Older" )}}
        {{- else }}
          {{ partial "components/button" (dict "text" "← Older" "disabled" true )}}
        {{- end }}
      </li>
      <li>
        {{- if .HasPrev }}
          {{ partial "components/button" (dict "href" .Prev.URL "text" "Newer →" )}}
        {{- else }}
          {{ partial "components/button" (dict "text" "Newer →" "disabled" true )}}
        {{- end }}
      </li>
    </ul>
  {{- end }}
{{- end }}
