{{ define "main" }}
<div class="page--sunday-morning">
  <div class="container-fluid">
    <div class="content-list content-list--dense">
      {{ range .Params.sections }}
        <div class="content-section animate" id="{{ .headline | urlize }}">
          <div class="content-section__media">
            <img src="{{ .photo }}" alt="{{ .headline }}">
          </div>
          <div class="content-section__body">
            <h2>
              {{ .headline }}
            </h2>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ with .button }}
              <div class="content-section__footer">
                {{ partial "button.html" (dict "href" .href "label" .text "variant" "light" )}}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="hero hero--fixed animate" style="background-image:url('{{ .Params.hero.photo }}');"></div>
  <div class="container-md">
    <div class="content-list">
      <div class="blurb animate">
        <div class="blurb__body">
          <h2>
            {{ .Params.location.headline }}
          </h2>
          <div class="blurb__content">
            {{ .Params.location.content | $.Page.RenderString (dict "display" "block") }}
          </div>
        </div>
      </div>
      <div class="blurb blurb--centered animate">
        <div class="blurb__body">
          <h2>
            {{ .Params.directions.headline }}
          </h2>
          <div class="blurb__content">
            {{ with site.Params.serviceAddress }}
              <address>
                <strong>{{ .text }}</strong><br>
                {{ .address }}
              </address>
            {{ end }}
          </div>
          {{ with site.Params.directions }}
            {{ partial "button.html" (dict "href" .href "label" .text )}}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
