{{ define "main" }}
  <main class="main-content | sunday-morning">
    <div class="container">
      {{ range .Params.sections }}
        <div class="content-section | animate" id="{{ .headline | urlize }}">
          {{ $alt := .headline }}
          {{ with $.Resources.Get (path.Base .photo) }}
            <div class="content-section__media">
              <img src="{{ .RelPermalink }}" alt="{{ $alt }}" class="img img--fill img--rounded">
            </div>
          {{ end }}
          <div class="content-section__body">
            <div class="content-section__header">
              <h2>
                {{ .headline }}
              </h2>
            </div>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ with .button }}
              <div class="content-section__footer">
                {{ partial "components/button" (dict "href" .href "text" .text "variant" "secondary" )}}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    {{ with .Params.location }}
      {{ with $.Resources.Get (path.Base .photo) }}
        <div class="sunday-morning__photo | animate">
          <img src="{{ .RelPermalink }}" alt="">
        </div>
      {{ end }}
    {{ end }}
    <div class="container-md">
      {{ with .Params.location }}
        <div class="sunday-morning__location | content-section | animate">
          <div class="content-section__body">
            <div class="content-section__header">
              <h2>
                {{ .headline }}
              </h2>
            </div>
            <div class="content-section__content">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
          </div>
        </div>
      {{ end }}
      {{ with .Params.directions }}
        <div class="sunday-morning__directions | content-section | animate">
          <div class="content-section__body">
            <div class="content-section__header">
              <h2>
                {{ .headline }}
              </h2>
            </div>
            <div class="content-section__content">
              {{ with site.Params.serviceAddress }}
                <address>
                  <strong>{{ .text }}</strong><br>
                  {{ .address }}
                </address>
              {{ end }}
            </div>
            <div class="content-section__footer">
              {{ with site.Params.directions }}
                {{ partial "components/button" (dict "href" .href "text" .text "variant" "primary" )}}
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
