/*
@description
Fade in an element when it's visible in the viewport

@markup
<div class="animate">
  ...
</div>
*/

.animate {
  opacity: 0;
}

// This class is added by JavaScript (see assets/js/animate.js)
.js-start-animation {
  opacity: 1;

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 1s ease;
  }
}
