/*
@description
Fade in an element when it's visible in the viewport
See: assets/js/animate.js

@markup
<div class="animate">
  ...
</div>
*/

.animate--start {
  opacity: 0;
}
.animate--end {
  opacity: 1;
  transition: opacity 1s ease;
}
