@use "../lib";

/*
@markup
<span class="badge">Text</span>
*/

.badge {
  display: inline-block;
  padding: lib.size(1) lib.size(3);
  background-color: lib.$gray-100;
  border-radius: 999px;
  font-size: lib.$font-size-sm;

  &.badge--condensed {
    padding: lib.size(0.5) lib.size(2);
  }
}
