@use "../abstracts";

/*
@markup
<span class="badge">Text</span>
*/

.badge {
  display: inline-block;
  padding: abstracts.size(1) abstracts.size(3);
  background-color: abstracts.$gray-100;
  border-radius: 999px;
  font-size: abstracts.$font-size-sm;

  &.badge--condensed {
    padding: abstracts.size(0.5) abstracts.size(2);
  }
}
