@use "../lib";

/*
@markup
<div class="banner">
  <div class="banner__icon">
    <svg class="icon">
      ...
    </svg>
  </div>
  <div class="banner__content">
    Text
  </div>
</div>
*/

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: lib.size(3);
  padding: lib.size(3);
  background-color: lib.$blue-100;
  border-radius: lib.size(1);

  .banner__content {
    & > :last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: lib.breakpoint-min-width("md")) {
    flex-direction: row;
  }
}
