@use "../abstracts";

/*
@markup
<div class="banner">
  <div class="banner__icon">
    <svg class="icon">
      ...
    </svg>
  </div>
  <div class="banner__content">
    Text
  </div>
</div>
*/

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: abstracts.size(3);
  padding: abstracts.size(3);
  background-color: abstracts.$blue-100;
  border-radius: abstracts.size(1);

  .banner__content {
    & > :last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: abstracts.breakpoint-min-width("md")) {
    flex-direction: row;
  }

  // @options

  &.banner--condensed {
    padding: abstracts.size(1) abstracts.size(2);
    border-radius: abstracts.size(0.5);
  }
  &.banner--neutral {
    background-color: abstracts.$gray-100;
  }
}
