/*
@markup
<a class="button">
  Button
</a>
*/

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--white);
  background-color: var(--blue);
  border-radius: var(--border-radius);
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  transition: background-color .2s ease;

  &:focus {
    outline: 0;
  }
  &:hover {
    color: var(--white);
    background-color: var(--blue-light);
    text-decoration: none;
  }
  &:active {
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
  }
  img {
    display: block;
  }

  // @options

  &.button--light {
    color: var(--blue);
    background-color: var(--blue-a10);

    &:hover {
      color: var(--blue);
      background-color: var(--blue-a20);
    }
    &:active {
      color: var(--blue);
      background-color: var(--blue-a10);
    }
  }
  &.button--dark {
    color: var(--white);
    background-color: var(--black-a30);

    &:hover {
      color: var(--white);
      background-color: var(--black-a50);
    }
    &:active {
      color: var(--white);
      background-color: var(--black-a30);
    }
  }
  &.button--white {
    color: var(--blue);
    background-color: var(--white);

    &:hover {
      color: var(--blue);
      background-color: var(--blue-a10);
    }
    &:active {
      color: var(--blue);
      background-color: var(--white);
    }
  }
  &.button--small {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-small);
  }
  &.button--large {
    padding: 1rem 1.75rem;
    font-size: var(--font-size-large);
  }
  &.button--disabled,
  &.button--disabled:hover,
  &.button--disabled:active {
    pointer-events: none;
    opacity: 0.25;
    cursor: default;
  }
  &.button--block {
    display: block;
    width: 100%;

    img {
      margin: 0 auto;
    }
  }
}
