@use "../abstracts";

/*
@markup
<p class="button-group">
  <a class="button">Button</a>
  <a class="button">Button</a>
</p>
*/

.button-group {
  display: flex;
  flex-direction: column;
  gap: abstracts.size(2);
  
  @media (min-width: abstracts.breakpoint-min-width("md")) {
    flex-direction: row;
  }
}
