@use "../mixins/button";

/*
@markup
<a class="button button--primary">Text</a>
*/

.button,
button {
  @include button.make-button;

  // @options

  &.button--primary {
    @include button.make-button--primary;
  }
  &.button--secondary {
    @include button.make-button--secondary;
  }
  &.button--dark {
    @include button.make-button--dark;
  }
  &.button--white {
    @include button.make-button--white;
  }
  &.button--lg {
    @include button.make-button--lg;
  }
  &.button--md {
    @include button.make-button--md;
  }
  &.button--sm {
    @include button.make-button--sm;
  }
  &.button--block {
    @include button.make-button--block;
  }
  &.button--disabled {
    @include button.make-button--disabled;
  }
}
