@use "../lib";
@use "../mixins/utils";

/*
@markup
<div class="callout">
  Content
</div>
*/

.callout {
  padding: lib.size(3);
  border-radius: lib.size(2);
  background-color: lib.$blue-500;
  color: lib.$white;

  a:not(.button) {
    @include utils.make-white-link;
    font-weight: lib.$font-weight-bold;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  @media (min-width: lib.breakpoint-min-width("lg")) {
    padding: lib.size(10);
    border-radius: lib.size(6);

    p {
      font-size: lib.$font-size-lg;
    }
  }

  // @options

  &.callout--dark {
    background-color: lib.$blue-900;
  }
  &.callout--center {
    text-align: center;
  }
  &.callout--condensed {
    @media (min-width: lib.breakpoint-min-width("lg")) {
      padding: lib.size(6);
      border-radius: lib.size(4);
    }
  }
}
