@use "../abstracts";

/*
@markup
<div class="callout">
  Content
</div>
*/

.callout {
  padding: abstracts.size(3);
  border-radius: abstracts.size(2);
  background-color: abstracts.$blue-500;
  color: abstracts.$white;

  a:not(.button) {
    @include abstracts.make-white-link;
    font-weight: abstracts.$font-weight-bold;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    padding: abstracts.size(10);
    border-radius: abstracts.size(6);

    p {
      font-size: abstracts.$font-size-lg;
    }
  }

  // @options

  &.callout--dark {
    background-color: abstracts.$blue-900;
  }
  &.callout--center {
    text-align: center;
  }
  &.callout--condensed {
    @media (min-width: abstracts.breakpoint-min-width("lg")) {
      padding: abstracts.size(6);
      border-radius: abstracts.size(4);
    }
  }
}
