@use "../mixins/card";

/*
@markup
<div class="card">
  <div class="card__media">
    Image
  </div>
  <div class="card__body">
    <div class="card__header">
      Title
    </div>
    <div class="card__content">
      Content
    </div>
    <div class="card__footer">
      Button(s)
    </div>
  </div>
</div>
*/

.card {
  @include card.make-card;

  // @options

  // When card in horizontal, set ratio of media to body
  &.card--horz {
    &.card--1x1 {
      @include card.make-card--1x1;
    }
    &.card--2x3 {
      @include card.make-card--2x3;
    }
    &.card--1x2 {
      @include card.make-card--1x2;
    }
    &.card--1x3 {
      @include card.make-card--1x3;
    }
  }

  // Add padding around media to align with content
  &.card--inset-media {
    @include card.make-card--inset-media;
  }

  // Move media horizontal to content
  &.card--horz {
    @include card.make-card--horz;
  }

  // Move media after content
  &.card--reverse {
    @include card.make-card--reverse;
  }

  // Center body
  &.card--center {
    @include card.make-card--center;
  }
}
