/*
@markup
<div class="card">
  <div class="card__media">
    <img>
  </div>
  <div class="card__body">
    <h3>
      Headline
    </h3>
    <hr>
    <div class="card__content">
      Content
    </div>
  </div>
  <div class="card__footer">
    <a class="button">
      Button
    </a>
  </div>
</div>
*/

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacer);
  background-color: var(--blue-a10);
  border-radius: var(--border-radius);
  overflow: hidden;

  .card__media {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-bottom: solid 3px var(--white);
    }
  }
  .card__body {
    flex-grow: 1; // Push down footer
    padding: var(--spacer);
    text-align: center;

    h4, h5 {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-base);
    }
    h4 + h5 {
      margin-top: calc(var(--spacer) * -1); // Negative margin
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  .card__content {
    text-align: left;

    @media (min-width: $min-breakpoint-sm) {
      text-align: center;
    }
  }
  .card__footer {
    padding: var(--spacer);
    padding-top: 0;
    text-align: center;
  }
}
