/*
@markup
<div class="cards cards--len-N">
  <div class="card">
    ...
  </div>
</div>
*/

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer);
  margin-bottom: var(--spacer-xxl);

  & > .card {
    flex-grow: 1;
    width: 100%;
    max-width: $min-breakpoint-sm;
  }
  @media (min-width: $min-breakpoint-lg) {
    flex-direction: row;
    align-items: stretch;

    // Default to 3-up
    & > .card { 
      max-width: 33%;
      flex: 1 1 0;
    }
    // 2-up
    &.cards--len-2 > .card {
      max-width: 50%;
    }
  }  
}
