/*
@markup
<div class="cards">
  <div class="card">
    ...
  </div>
</div>
*/

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer);
  margin-bottom: var(--spacer-xxl);
}
.cards > .card {
  flex-grow: 1;
  width: 100%;
  max-width: 576px;
}
@media (min-width: 992px) {
  .cards {
    flex-direction: row;
    align-items: stretch;
  }
  .cards > .card {
    max-width: 33%;
    flex: 1 1 0;
  }
}
