@use "../abstracts";

/*
@markup
<div class="content-section">
  <div class="content-section__media">
    Image
  </div>
  <div class="content-section__body">
    <div class="content-section__header">
      Title
    </div>
    <div class="content-section__content">
      Content
    </div>
    <div class="content-section__footer">
      Button(s)
    </div>
  </div>
</div>
*/

.content-section {
  @include abstracts.make-content-section;

  // @options

  &.content-section--stack {
    @include abstracts.make-content-section--stack;
  }
  &.content-section--media-center {
    @include abstracts.make-content-section--media-center;
  }
  &.content-section--media-right {
    @include abstracts.make-content-section--media-right;
  }
  &.content-section--body-center {
    @include abstracts.make-content-section--body-center;
  }
}
