/*
Description:
  Wrapper for all content types (.content-blurb, .content-section, .content-event, etc )

Usage:
  <div class="content-list">
    <div class="content-section">...</div>
    <div class="content-section">...</div>
    <div class="content-section">...</div>
  </div>
*/

.content-list {
  margin-bottom: var(--spacer-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xxl);
}
.content-list > * {
  margin-bottom: 0 !important;/* Remove margin-bottom on direct children */
}

/* : option - is-dense */

.content-list.is-dense {
  gap: var(--spacer-xl);
}
