/*
@description
Wrapper for all content types (.blurb, .content-section, .event, etc)

@markup
<div class="content-list">
  <div class="content-section">...</div>
  <div class="content-section">...</div>
  <div class="content-section">...</div>
</div>
*/

.content-list {
  margin-bottom: var(--spacer-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xxl);

  // Remove margin-bottom on direct children
  & > * {
    margin-bottom: 0 !important;
  }

  // @options

  &.content-list--dense {
    gap: var(--spacer-xl);
  }
}
