/*
@markup
<div class="content-event">
  <div class="date">
    <div class="month">
      Month
    </div>
    <div class="day">
      Day
    </div>
  </div>
  <div class="body">
    <h3>
      Headline
    </h3>
    <h4>
      Date & Time
    </h4>
    <h5>
      Location
    </h5>
    <div class="content">
      Content
    </div>
  </div>
</div>
*/

.content-event {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
.content-event .date .month,
.content-event .date .day,
.content-event .date .tbd {
  width: 70px;
  padding: var(--spacer-xxs) 0;
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.content-event .date .month,
.content-event .date .tbd {
  background-color: var(--blue-a50);
  color: var(--white);
}
.content-event .date .day {
  border: 3px solid var(--blue-a50);
}
.content-event .date .tbd {
  padding: var(--spacer) 0;
}
.content-event h4,
.content-event h5 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
}
.content-event h4 + h5 {
  margin-top: calc(var(--spacer) * -1);/* Negative margin */
}
.content-event .content :last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .content-event  {
    flex-direction: row;
    gap: var(--spacer-lg);
  }
  .content-event .date .month,
  .content-event .date .day,
  .content-event .date .tbd {
    width: 100px;
    font-size: var(--font-size-h3);
  }
}
