@use "../abstracts";

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  margin: 0 auto;
  padding: 0 abstracts.size(3);

  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    padding: 0 abstracts.size(6);
  }
  @media (min-width: abstracts.breakpoint-min-width("xxl")) {
    padding: 0 abstracts.size(3);
  }
}
.container,
.container-xxl {
  max-width: abstracts.container-max-width("xxl");
}
.container-sm {
  max-width: abstracts.container-max-width("sm");
}
.container-md {
  max-width: abstracts.container-max-width("md");
}
.container-lg {
  max-width: abstracts.container-max-width("lg");
}
.container-xl {
  max-width: abstracts.container-max-width("xl");
}
