/* 
@description
Short text with media

@markup
<div class="content-section">
  <div class="content-section__media">
    <img>
  </div>
  <div class="content-section__body">
    <h2>
      Headline
    </h2>
    <div class="content-section__content">
      Content
    </div>
    <div class="content-section__footer">
      <a class="button">
        Button
      </a>
    </div>
  </div>
</div>
*/

.content-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--spacer);
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  /* This margin will only be applied if the parent of .content-section is not .content-list */
  margin-bottom: var(--spacer-xxl);
}
.content-section .content-section__body,
.content-section .content-section__media {
  width: 100%;
}
.content-section .content-section__media img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}
.content-section .content-section__body h2 + h3,
.content-section .content-section__body h3 + h4,
.content-section .content-section__body h4 + h5 {
  margin-top: calc(var(--spacer-sm) * -1);/* Negative margin */
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}
.content-section .content-section__footer  {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
@media (min-width: 576px) {
  .content-section .content-section__footer  {
    flex-direction: row;
    gap: var(--spacer-sm);
  }
}
@media (min-width: 992px) {
  .content-section  {
    flex-direction: row;
    gap: var(--spacer-lg);
    max-width: none;
  }
  .content-section .content-section__media {
    width: 40%;
  }
  .content-section .content-section__body {
    width: 60%;
  }
}

/* @options */

/* content-section--centered */

.content-section.content-section--centered .content-section__body,
.content-section.content-section--centered .content-section__media {
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .content-section.content-section--centered {
    align-items: center;
  }
  .content-section.content-section--centered .content-section__body {
    text-align: left;
  }
}

/* content-section--stacked */

@media (min-width: 992px) {
  .content-section.content-section--stacked  {
    flex-direction: column;
    gap: var(--spacer);
  }
  .content-section.content-section--stacked .content-section__media {
    width: 100%;
  }
  .content-section.content-section--stacked .content-section__body {
    width: 100%;
  }
}
