.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--spacer);
  padding-left: var(--spacer);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: $min-breakpoint-sm) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: $max-width-sm;
  }
  .container-fluid {
    padding-right: var(--spacer-lg);
    padding-left: var(--spacer-lg);
  }
}
@media (min-width: $min-breakpoint-md) {
  .container,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: $max-width-md;
  }
}
@media (min-width: $min-breakpoint-lg) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: $max-width-lg;
  }
}
@media (min-width: $min-breakpoint-xl) {
  .container,
  .container-xl,
  .container-xxl {
    max-width: $max-width-xl;
  }
}
@media (min-width: $min-breakpoint-xxl) {
  .container,
  .container-fluid,
  .container-xxl {
    max-width: $max-width-xxl;
  }
  .container-fluid {
    padding-right: var(--spacer);
    padding-left: var(--spacer);
  }
}
