/*
@markup
<div class="error">
  <p>
    Message
  </p>
</div>
*/

.error {
  padding-top: var(--spacer-xxl);
  padding-bottom: var(--spacer-xxl);

  p {
    font-size: var(--font-size-large);
    text-align: center;
  }  
}
