/*
@markup
<h2 class="event-header">
  Headline
</h2>
*/

.event-header {
  padding-top: var(--spacer-xl);
  border-top: 3px solid var(--dark-gray-a10);

  &:first-of-type {
    padding-top: 0;
    border-top: none;
  }  
}
