/*
@markup
<nav class="event-nav">
  <ul>
    <li>Year
      <ul>
        <li>
          <a href="#anchor">Month</a>
        </li>
        ...
      </ul>
    </li>
    ...
  </ul>
</nav>
*/

.event-nav {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-xs);
  justify-content: center;
  margin-top: calc(var(--spacer-xl) * -1); // Negative margin
  margin-bottom: var(--spacer-xl);
  padding-bottom: var(--spacer-sm);
  border-bottom: 3px solid var(--dark-gray-a10);

  ul, li {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-xs);
    margin: 0;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  li {
    padding-left: var(--spacer-xs);
    border-left: solid 1px var(--dark-gray-a30);
  }
  & > ul > li:first-of-type {
    padding-left: 0;
    border-left: none;
  }
  a {
    span {
      // Shorten month names on smaller breakpoints
      display: none;

      @media (min-width: $min-breakpoint-md) {
        display: inline;
      }
    }
  }
}
