h1.fcc {
  span {
    display: block;

    // Welcome to
    &:nth-child(1) {
      margin-bottom: var(--spacer-xs);
      font-size: var(--font-size-h3);
    }
    // Fountain City Church
    &:nth-child(n+2) {
      text-transform: uppercase;
      letter-spacing: var(--uppercase-letter-spacing);
      line-height: 1;

      @media (min-width: $min-breakpoint-sm) {
        font-size: 48px;
      }
      @media (min-width: $min-breakpoint-md) {
        font-size: 72px;
      }
    }
    // Fountain City
    &:nth-child(2) {
      font-weight: var(--font-weight-heavy);
    }
    // Church
    &:nth-child(3) {
      font-weight: var(--font-weight-light);
    }
  }
}
