/*
For usage, see: /layouts/partials/shared/fcc.html
*/

h1.fcc span {
  display: block;
}
h1.fcc span:nth-child(1) {/* Welcome to */
  margin-bottom: var(--spacer-xs);
  font-size: var(--font-size-h3);
}
h1.fcc span:nth-child(n+2) {/* Fountain City Church */
  text-transform: uppercase;
  letter-spacing: var(--uppercase-letter-spacing);
  line-height: 1;
}
h1.fcc span:nth-child(2) {/* Fountain City */
  font-weight: var(--font-weight-heavy);
}
h1.fcc span:nth-child(3) {/* Church */
  font-weight: var(--font-weight-light);
}
@media (min-width: 576px) {
  h1.fcc span:nth-child(n+2) {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  h1.fcc span:nth-child(n+2) {
    font-size: 72px;
  }
}

/* @options */

/* fcc--small */

@media (min-width: 768px) {
  h1.fcc.fcc--small span:nth-child(n+2) {
    font-size: 48px;
  }
}
