/*
@markup
<div class="featured-events">
  <h2>
    Headline
  </h2>
  <div class="cards cards--len-N">
    ...
  </div>
  <p class="featured-events__footer">
    <a class="button">
      Button
    </a>
  </p>
</div>
*/

.featured-events {
  h2 {
    text-align: center;
    margin-bottom: var(--spacer-xxl);
  }
  .featured-events__footer {
    text-align: center;
  }
}
