/*
@markup
<div class="featured-event has-photo">
  <div class="photo">
    <img>
  </div>
  <div class="body">
    <h2>
      Title
    </h2>
    <hr>
    <h3>
      Date & Time
    </h3>
    <h4>
      Location
    </h4>
    <div class="content">
      Content
    </div>
  </div>
</div>
*/

.featured-event {
  overflow: hidden;
  margin-bottom: var(--spacer-xxl);
  padding: var(--spacer-xl) var(--spacer);
  background-color: var(--blue-a10);
  border-radius: var(--border-radius);
}
.featured-event .body {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.featured-event h2 {
  margin-bottom: var(--spacer-xs);
}
.featured-event h3 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-normal);
}
.featured-event h4 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
}
.featured-event h3 + h4 {
  margin-top: calc(var(--spacer-sm) * -1);/* Negative margin */
}
.featured-event .content :last-child {
  margin-bottom: 0;
}
.featured-event hr {
  margin-top: var(--spacer);
  border-top-color: var(--black-a50);
}

/* : option - has-white-text */

.featured-event.has-white-text {
  color: var(--white);
}
.featured-event.has-white-text hr {
  border-top-color: var(--white-a50);
}
.featured-event.has-white-text .content a {
  color: var(--white);
  text-decoration: underline;
}

/* : option - has-photo */

.featured-event.has-photo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--spacer);
  padding: 0;
}
.featured-event.has-photo .photo img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured-event.has-photo .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: auto;
  margin: auto;
  padding: var(--spacer);
  padding-top: 0;
}
.featured-event.has-photo hr {
  display: none;
}
@media (min-width: 992px) {
  .featured-event.has-photo  {
    flex-direction: row;
  }
  .featured-event.has-photo .photo {
    flex: 0 1 auto;
    width: 40%;
  }
  .featured-event.has-photo .body {
    flex: 0 1 auto;
    width: 60%;
    padding: var(--spacer-lg);
    padding-left: var(--spacer);
    text-align: left;
  }
}

/* : option - is-photo-right */

@media (min-width: 992px) {
  .featured-event.has-photo.is-photo-right .photo {
    order: 2;
  }
  .featured-event.has-photo.is-photo-right .body {
    order: 1;
    padding: var(--spacer-lg);
    padding-right: var(--spacer);
  }
}
