/*
@markup
<div class="featured-events">
  <h2>
    Headline
  </h2>
  <div class="cards">
    ...
  </div>
  <p class="featured-events__view-all">
    <a>Link</a>
  </p>
</div>
*/

.featured-events h2 {
  text-align: center;
  margin-bottom: var(--spacer-xxl);
}
.featured-events .featured-events__view-all {
  font-size: var(--font-size-large);
  text-align: center;
}
