@use "../lib";

/*
@markup
<h4 class="has-icon">
  <svg class="icon">
    ...
  </svg>
  Heading
</div>
*/

.has-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: lib.size(1);

  svg {
    flex-shrink: 0;
  }
}
