/*
@markup
<div class="hero" style="background-image:url();">
  <div class="hero__body">
    <h1>
      Headline
    </h1>
    <hr>
    <h2>
      Subhead
    </h2>
  </div>
</div> 
*/

.hero {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 400px;
  margin-bottom: var(--spacer-xxl);
  padding: var(--spacer);
  padding-top: var(--spacer-lg);/* Add more padding on top, so the content is vertically centered */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero .hero__body {
  align-self: center;
  text-align: center;
  color: var(--white);
}
.hero .hero__body .button {
  box-shadow: 0 0 var(--spacer-sm) rgba(0,0,0,0.4);
}
.hero .hero__body hr {
  border-top-color: var(--white-a50);
}
@media (min-width: 576px) {
  .hero {
    min-height: 500px;
  }
}
@media (min-width: 768px) {
  .hero {
    min-height: 600px;
  }
}

/* @options */

/* hero--fixed */

@media (min-width: 992px) {
  .hero.hero--fixed {
    background-attachment: fixed;
  }
}
