@use "../abstracts";

/*
@markup
<svg class="icon">
  ...
</svg>
*/

.icon {
  display: inline-block;
  vertical-align: middle;
  width: abstracts.size(3);
  height: abstracts.size(3);
  
  path {
    fill: currentColor;
  }
  
  // @options

  &.icon--primary {
    path {
      fill: abstracts.$blue-500;
    }
  }
  &.icon--secondary {
    path {
      fill: abstracts.$gray-500;
    }
  }
  &.icon--dark {
    path {
      fill: abstracts.$foreground-color;
    }
  }
  &.icon--white {
    path {
      fill: abstracts.$white;
    }
  }
  &.icon--current {
    path {
      fill: currentColor;
    }
  }
  &.icon--xs {
    width: abstracts.size(2.25);
    height: abstracts.size(2.25);
  }
  &.icon--sm {
    width: abstracts.size(2.5);
    height: abstracts.size(2.5);
  }
  &.icon--md {
    width: abstracts.size(3);
    height: abstracts.size(3);
  }
  &.icon--lg {
    width: abstracts.size(4);
    height: abstracts.size(4);
  }
  &.icon--xl {
    width: abstracts.size(6);
    height: abstracts.size(6);
  }
}
