@use "../lib";

/*
@markup
<svg class="icon">
  ...
</svg>
*/

.icon {
  display: inline-block;
  vertical-align: middle;
  width: lib.size(3);
  height: lib.size(3);
  
  path {
    fill: currentColor;
  }
  
  // @options

  &.icon--primary {
    path {
      fill: lib.$blue-500;
    }
  }
  &.icon--secondary {
    path {
      fill: lib.$gray-500;
    }
  }
  &.icon--dark {
    path {
      fill: lib.$foreground-color;
    }
  }
  &.icon--white {
    path {
      fill: lib.$white;
    }
  }
  &.icon--current {
    path {
      fill: currentColor;
    }
  }
  &.icon--xs {
    width: lib.size(2.25);
    height: lib.size(2.25);
  }
  &.icon--sm {
    width: lib.size(2.5);
    height: lib.size(2.5);
  }
  &.icon--md {
    width: lib.size(3);
    height: lib.size(3);
  }
  &.icon--lg {
    width: lib.size(4);
    height: lib.size(4);
  }
  &.icon--xl {
    width: lib.size(6);
    height: lib.size(6);
  }
}
