.main-footer {
  padding-top: var(--spacer-xxl);
  color: var(--white);
  background-color: var(--dark-gray);
}
.main-footer a:not([class='button']) {
  color: var(--white);
}

/* top-row */

.main-footer .main-footer__top-row {
  display: flex;
  flex-direction: column;
}
.main-footer .main-footer__contact,
.main-footer .main-footer__apps {
  margin-bottom: var(--spacer-xl);
  padding-bottom: var(--spacer-xl);
  border-bottom: solid 3px var(--white-a20);
}
.main-footer .main-footer__app-buttons {
  display: flex;
  gap: var(--spacer-sm);
}
@media (min-width: 992px) {
  .main-footer .main-footer__top-row {
    flex-direction: row;
    gap: var(--spacer-xl);
    margin-bottom: var(--spacer-xl);
  }
  .main-footer .main-footer__contact,
  .main-footer .main-footer__apps,
  .main-footer .main-footer__address {
    flex: 1 1 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

/* bottom-row */

.main-footer .main-footer__bottom-row {
  display: flex;
  flex-direction: column;
}
.main-footer .main-footer__social ul {
  display: flex;
  padding: 0;
  gap: var(--spacer);
  list-style-type: none;
}
.main-footer .main-footer__social img {
  display: block;
  width: 32px;
  height: 32px;
}
@media (min-width: 992px) {
  .main-footer .main-footer__bottom-row {
    flex-direction: row;
  }
  .main-footer .main-footer__social,
  .main-footer .main-footer__copyright {
    flex: 1 0 auto;
    padding-top: var(--spacer);
    border-top: solid 3px var(--white-a20);
  }
  .main-footer .main-footer__social {
    order: 2;
  }
  .main-footer .main-footer__copyright {
    order: 1;
  }
  .main-footer .main-footer__social ul {
    justify-content: flex-end;
  }
}
