.main-header {
  padding-top: var(--spacer-sm);
  padding-bottom: var(--spacer-sm);
}
.main-header .main-header__logo {
  width: 100px;
  margin: 0 auto var(--spacer) auto;
}
.main-header .main-header__logo a {
  display: block;
}
.main-header .main-header__logo img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .main-header .main-header__row {
    display: flex;
    align-items: center;
  }
  .main-header .main-header__logo {
    flex: 0 0 auto;
    margin: 0;
  }
  .main-header .main-header__nav {
    flex: 1 1 auto;
  }
}
@media (max-width: 767px) {/* JavaScript-enabled mobile navigation */
  body.js-nav .main-header .main-header__row {
    display: flex;
    align-items: center;
  }
  body.js-nav .main-header .main-header__logo {
    flex: 0 0 auto;
    margin: 0;
  }
  body.js-nav .main-header .main-header__nav {
    flex: 1 1 auto;
  }
}
