.main-footer {
  padding-top: var(--spacer-xxl);
  color: var(--white);
  background-color: var(--black);
}
.main-footer .row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}
.main-footer .contact-start {
  margin-bottom: var(--spacer-xl);
  padding-bottom: var(--spacer-xl);
  border-bottom: solid 3px var(--white-a20);
}
.main-footer .contact-end a {
  color: var(--white);
}
.main-footer .social ul {
  display: flex;
  padding: 0;
  gap: var(--spacer);
  list-style-type: none;
}
.main-footer .social img {
  display: block;
  width: 32px;
  height: 32px;
}
@media (min-width: 768px) {
  .main-footer .row {
    flex-direction: row;
  }
  .main-footer .contact-start {
    flex: 1 1 auto;
    padding-bottom: 0;
    padding-right: var(--spacer-lg);
    border-bottom: none;
  }
  .main-footer .contact-start > * {
    max-width: 600px;
  }
  .main-footer .contact-end {
    flex: 0 0 auto;
    white-space: nowrap;
    margin-bottom: var(--spacer-xl);
    padding-left: var(--spacer-lg);
    padding-right: var(--spacer-lg);
  }
  .main-footer .social,
  .main-footer .copyright {
    flex: 1 0 auto;
    padding-top: var(--spacer);
    border-top: solid 3px var(--white-a20);
  }
  .main-footer .social {
    order: 2;
  }
  .main-footer .copyright {
    order: 1;
  }
  .main-footer .social ul {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  .main-footer .contact-start {
    padding-right: var(--spacer-xxl);
  }
  .main-footer .contact-end {
    padding-left: var(--spacer-xxl);
    padding-right: var(--spacer-xxl);
  }
}
