.main-header {
  padding-top: var(--spacer-sm);
  padding-bottom: var(--spacer-sm);

  .main-header__logo {
    width: 100px;
    margin: 0 auto var(--spacer) auto;

    a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: $min-breakpoint-md) {
    .main-header__row {
      display: flex;
      align-items: center;
    }
    .main-header__logo {
      flex: 0 0 auto;
      margin: 0;
    }
    .main-header__nav {
      flex: 1 1 auto;
    }
  }
}

// JavaScript-enabled mobile navigation

@media (max-width: $max-breakpoint-sm) {
  body.js-nav {
    .main-header {
      .main-header__row {
        display: flex;
        align-items: center;
      }
      .main-header__logo {
        flex: 0 0 auto;
        margin: 0;
      }
      .main-header__nav {
        flex: 1 1 auto;
      }
    }
  }
}
