.page-header {
  margin-bottom: var(--spacer-xxl);
  padding: var(--spacer-xl) var(--spacer);
  border-top: solid 3px var(--blue-a10);
  background-color: var(--blue-a10);
  text-align: center;
}
.page-header h1 {
  color: var(--blue);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-heavy);
  text-transform: uppercase;
  letter-spacing: var(--uppercase-letter-spacing);
}
.page-header hr {
  margin-bottom: 0;
  border-top-color: var(--blue);
}
