/*
@markup
<div class="page-header">
  <h1>
    Title
  </h1>
</div>
*/

.page-header {
  padding: size(6) size(3);
  background-color: $dark-blue;
  background-image: url("/images/page-header-bkgd.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: center;

  h1 {
    display: inline-block;
    margin-bottom: 0;
    padding: size(1) size(3);
    background-color: $navy;
    border-radius: 999px;
    color: $white;
    font-family: $font-family-base;
    font-size: $font-size-lg;
    font-weight: $font-weight-heavy;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  @media (min-width: breakpoint-min-width("lg")) {
    padding: size(8) size(3);
  }
}
