@use "../abstracts";

/*
@markup
<ul class="paginator">
  <li>
    <a class="button">← Older</a>
  </li>
  <li>
    <a class="button button--disabled">Newer →</a>
  </li>
</ul>
*/

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: abstracts.size(2);
  padding-left: 0;
  list-style-type: none;

  li {
    display: flex;
    justify-content: center;
    margin-bottom: 0;

    &:nth-child(2) {
      padding-left: abstracts.size(2);
      border-left: 3px solid abstracts.$border-color;
    }
  }
}
