/*
@markup
<ul class="paginator">
  <li>
    <a class="button">Older</a>
  </li>
  <li>
    <a class="button button--disabled">Newer</a>
  </li>
</ul>
*/

.paginator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacer);
  padding-left: 0;
  padding-top: var(--spacer-lg);
  list-style-type: none;
  border-top: 3px solid var(--dark-gray-a10);

  li {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $min-breakpoint-sm) {
    flex-direction: row;

    li:nth-child(2) {
      padding-left: var(--spacer);
      border-left: 3px solid var(--dark-gray-a10);
    }
  }
}
