/*
@markup
<div class="page-header">
  <h1 class="pill-header">
    Title
  </h1>
</div>
*/

.page-header {
  padding: size(6) size(3);
  background-color: $dark-blue;
  background-image: url("/images/page-header-bkgd.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: center;

  @media (min-width: breakpoint-min-width("lg")) {
    padding: size(8) size(3);
  }
}
