@use "../abstracts";

/*
@markup
<ul class="pager">
  <li class="pager__prev">
    <a class="button">
      ← <span>Page Title</span>
    </a>
  </li>
  <li class="pager__next">
    <a class="button">
      <span>Page Title</span> →
    </a>
  </li>
</ul>
*/

.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: abstracts.size(2);
  padding-left: 0;
  list-style-type: none;

  li {
    display: flex;
    justify-content: center;
    margin-bottom: 0;

    &:nth-child(2) {
      padding-left: abstracts.size(2);
      border-left: 3px solid abstracts.$border-color;
    }
  }

  @media (max-width: abstracts.breakpoint-max-width("sm")) {
    span {
      display: none; // Hide page title
    }
    .pager__prev {
      .button::after {
        content: "Previous";
      }
    }
    .pager__next {
      .button::before {
        content: "Next";
      }
    }
  }
}
