/*
@markup
<div class="pill-header">
  Title
</div>
*/

.pill-header {
  display: inline-block;
  margin-bottom: 0;
  padding: size(1) size(3);
  background-color: $blue-900;
  border-radius: 999px;
  color: $white;
  font-family: $font-family-base;
  font-size: $font-size-lg;
  font-weight: $font-weight-heavy;
  line-height: $line-height-tight;
  letter-spacing: 2px;
  text-transform: uppercase;
}
