@use "../abstracts";

/*
@markup
<div class="pill-header">
  Title
</div>
*/

.pill-header {
  display: inline-block;
  margin-bottom: 0;
  padding: abstracts.size(1) abstracts.size(3);
  background-color: abstracts.$blue-900;
  border-radius: 999px;
  color: abstracts.$white;
  font-family: abstracts.$font-family-base;
  font-size: abstracts.$font-size-lg;
  font-weight: abstracts.$font-weight-heavy;
  line-height: abstracts.$line-height-tight;
  letter-spacing: 2px;
  text-transform: uppercase;
}
