@use "../lib";

/*
@markup
<div class="pill-header">
  Title
</div>
*/

.pill-header {
  display: inline-block;
  margin-bottom: 0;
  padding: lib.size(1) lib.size(3);
  background-color: lib.$blue-900;
  border-radius: 999px;
  color: lib.$white;
  font-family: lib.$font-family-base;
  font-size: lib.$font-size-lg;
  font-weight: lib.$font-weight-heavy;
  line-height: lib.$line-height-tight;
  letter-spacing: 2px;
  text-transform: uppercase;
}
