/*
@markup
<div class="rounded-image">
  <img>
</div>
*/

.rounded-image {
  position: relative;
  padding-bottom: 100%;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 100%;
}
.rounded-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
