@use "../lib";

/*
@markup
<div class="search-input">
  <svg>
  <input type="text" required>
  <input type="reset">
</div>
*/

.search-input {
  // Styling is applied to the input's parent to avoid issues with iOS
  display: flex;
  align-items: center;
  min-width: 200px;
  padding-left: lib.size(2);
  border: solid 1px lib.$border-color;
  border-radius: 999px;
  background-color: lib.$white;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  
  svg {
    flex-shrink: 0;
    width: lib.size(3);
    height: lib.size(3);
    
    path {
      color: lib.$gray-500;
    }
  }
  input[type=text],
  input[type=reset] {
    border: none;
    background-color: transparent;
    outline: none;
  }
  input[type=reset] {
    padding-right: lib.size(3);
    color: lib.$link-color;
    cursor: pointer;
  }
  // Hide reset button if search input is empty
  // (Search input must have `required` attribute for this to work)
  input[type=text]:invalid ~ input[type=reset] {
    visibility: hidden;
  }

  // @options

  &.search-input--sm {
    svg {
      width: lib.size(2.5);
      height: lib.size(2.5);
    }
    input[type=text],
    input[type=reset] {
      font-size: lib.$font-size-sm;
    }
  }
  &.search-input--lg {
    svg {
      width: lib.size(4);
      height: lib.size(4);
    }
    input[type=text],
    input[type=reset] {
      font-size: lib.$font-size-lg;
    }
  }
}
