/*
@markup
<h2>Headline</h2>
<h3 class="subtitle">Subtitle</h3>
<h4 class="subtitle">Subtitle</h4>
*/

.subtitle {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;

  & ~ .subtitle {
    margin-top: -(size(2));
  }
}
