@use "../lib";

/*
@markup
<h2>Headline</h2>
<h3 class="subtitle">Subtitle</h3>
<h4 class="subtitle">Subtitle</h4>
*/

.subtitle {
  font-family: lib.$font-family-base;
  font-size: lib.$font-size-base;
  font-weight: lib.$font-weight-bold;
  line-height: lib.$line-height-tight;

  & ~ .subtitle {
    margin-top: -(lib.size(2));
  }
}
