@use "../abstracts";

/*
@markup
<h2>Headline</h2>
<h3 class="subtitle">Subtitle</h3>
<h4 class="subtitle">Subtitle</h4>
*/

.subtitle {
  font-family: abstracts.$font-family-base;
  font-size: abstracts.$font-size-base;
  font-weight: abstracts.$font-weight-bold;
  line-height: abstracts.$line-height-tight;

  & ~ .subtitle {
    margin-top: -(abstracts.size(2));
  }
}
