{{ define "main" }}
  <main class="main-content | series">
    <div class="container-lg | animate">
      <div class="series__list">
        {{ range .Pages.ByDate.Reverse }}
          <a href="{{ .RelPermalink }}">
            <figure class="sermon-image">
              {{ with .Resources.ByType "image" }}
                {{ with index . 0 }}
                  <img src="{{ .RelPermalink }}" alt="{{ .Title }}" class="img img--fill">
                {{ end }}
              {{ end }}
              <figcaption>
                {{ .Title }}
              </figcaption>
            </figure>
          </a>
        {{ end }}
        </div>
    </div>
  </main>
{{ end }}
