{{ $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) }}
{{ $description := cond (isset .Params "description") .Description (replaceRE "\n" " " .Summary) }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ $title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ $description }}">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="/images/ui/fountain-city-church.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    {{ with resources.Get "scss/main.scss" | toCSS (dict "transpiler" "libsass" "targetPath" "css/main.css") | resources.Minify | resources.Fingerprint }}
      <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}">
    {{ end }}
    {{ with slice (resources.Get "js/main-nav.js") (resources.Get "js/animate.js") | resources.Concat "js/main.js" | resources.Minify | resources.Fingerprint }}
      <script src="{{ .RelPermalink }}"></script>
    {{ end }}
    {{ block "head" . }}
    {{ end }}
  </head>
  <body>
    <header id="main-header" class="main-header">
      <div class="container-fluid">
        <div class="main-header__row">
          <div class="main-header__logo">
            <a href="/">
              <img src="/images/ui/fountain-city-church.png" alt="Fountain City Church">
            </a>
          </div>
          <div class="main-header__nav">
            <nav id="main-nav" class="main-nav">
              <ul>
              {{ $page := . }}
              {{ range site.Menus.main }}
                <li{{ if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }} class="main-nav--selected"{{ end }}>
                  <a href="{{ .URL }}"{{ if eq .Params.rel "external" }} target="_blank"{{ end }}>{{ .Name }}</a>
                  {{ if .HasChildren }}
                    <ul>
                      {{ range .Children }}
                        <li{{ if $page.IsMenuCurrent "main" . }} class="main-nav--selected"{{ end }}>
                          <a href="{{ .URL }}"{{ if eq .Params.rel "external" }} target="_blank"{{ end }}>{{ .Name }}</a>
                        </li>
                      {{ end }}
                    </ul>
                  {{ end }}
                </li>
              {{ end }}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main class="main-content">
      {{ if not .IsHome }}
        <div class="page-header animate">
          <h1>
            {{/* If the current page is the event detail page... */}}
            {{ if and (eq .Type "events") .IsPage }}
              {{ page.Type | singularize }}
            {{/* Else if the current page is the sermon detail page... */}}
            {{ else if and (eq .Type "sermons") .IsPage }}
              {{ dateFormat "January 2, 2006" .Date }}
            {{/* Otherwise, use the page title */}}
            {{ else }}
              {{ .Title }}
            {{ end }}
          </h1>
          <hr>
        </div>
      {{ end }}
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer class="main-footer">
      <div class="container-fluid">
        <div class="main-footer__top-row">
          <div class="main-footer__contact">
            {{ with site.Data.footer.contact }}
              <h3>
                {{ .headline }}
              </h3>
              <div>
                {{ .content | $.Page.RenderString (dict "display" "block") }}
              </div>
            {{ end }}
            {{ with site.Data.footer.contact.button }}
              {{ partial "button.html" (dict "href" .href "label" .text )}}
            {{ end }}
          </div>
          <div class="main-footer__apps">
            {{ with site.Data.footer.apps }}
              <h3>
                {{ .headline }}
              </h3>
              <div>
                {{ .content | $.Page.RenderString (dict "display" "block") }}
              </div>
            {{ end }}
            <div class="main-footer__app-buttons">
              {{ range site.Data.footer.apps.buttons }}
                {{ partial "button.html" (dict "href" .href "label" (printf `<img src=%q alt=%q>` .image .text) "variant" "dark")}}
              {{ end }}
            </div>
          </div>
          <div class="main-footer__address">
            {{ partial "address.html" . }}
            <address>
              <strong>Mailing address</strong><br>
              {{ site.Params.mailingAddress }}
            </address>            
            <p>
              <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a><br>{{ site.Params.phone }}
            </p>
          </div>
        </div>
        <div class="main-footer__bottom-row">
          <div class="main-footer__social">
            <ul>
              {{ range site.Data.footer.social }}
                <li>
                  <a href="{{ .href }}" target="_blank">
                    <img src="{{ .image }}" alt="{{ .title }}">
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="main-footer__copyright">
            <p>
              &copy; {{ dateFormat "2006" now }} by Fountain City Church
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
