@use "../lib";
@use "../mixins/stack";

.events {
  > * {
    @include stack.make-stack(8);
  }
}

// Nav

.events-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: lib.size(2);
  margin-top: -(lib.size(8));
  padding-bottom: lib.size(2);
  border-bottom: 3px solid lib.$border-color;

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul, li {
    display: flex;
    flex-direction: row;
    gap: lib.size(2);
  }
  li {
    padding-left: lib.size(2);
    border-left: solid 2px lib.$border-color;
  }
  & > ul > li:first-of-type {
    padding-left: 0;
    border-left: none;
  }
  a {
    text-decoration: none;
    
    span {
      // Shorten month names on smaller breakpoints
      display: none;

      @media (min-width: lib.breakpoint-min-width("md")) {
        display: inline;
      }
    }
  }
}

// Header

.events-header {
  padding-top: lib.size(8);
  border-top: 3px solid lib.$border-color;

  &:first-of-type {
    padding-top: 0;
    border-top: none;
  }
}

// Event

.event {
  display: flex;
  flex-direction: column;
  gap: lib.size(3);

  .event__month,
  .event__day,
  .event__tbd {
    width: 80px;
    text-align: center;
  }
  .event__month,
  .event__tbd {
    padding: lib.size(1) 0 lib.size(0.5) 0;
    background-color: lib.$blue-300;
    border-top-left-radius: lib.size(1);
    border-top-right-radius: lib.size(1);
    color: lib.$white;
    font-size: var(--font-size-h4);
    font-weight: lib.$font-weight-bold;
  }
  .event__day {
    padding: 0;
    border: 6px solid lib.$blue-300;
    border-bottom-left-radius: lib.size(1);
    border-bottom-right-radius: lib.size(1);
    font-family: lib.$font-family-base;
    font-size: var(--font-size-h2);
    font-weight: lib.$font-weight-heavy;
  }
  .event__tbd {
    padding: lib.size(3) 0;
  }
  .event__body {
    display: flex;
    flex-direction: column;
    gap: lib.size(3);
  }
  .event__header,
  .event__content,
  .event__footer {
    & > :last-child {
      margin-bottom: 0;
    }
  }
  .event__footer {
    display: flex;
    flex-direction: row;
    gap: lib.size(2);
  }
  @media (min-width: lib.breakpoint-min-width("lg")) {
    flex-direction: row;
    gap: lib.size(10);
    
    .event__month,
    .event__day,
    .event__tbd {
      width: 100px;
    }
  }
}

// No Events

.no-events {
  padding: lib.size(8) 0;
  text-align: center;
  font-size: lib.$font-size-lg;
}
