@use "../lib";
@use "../mixins/button";
@use "../mixins/stack";
@use "../mixins/utils";

.main-content.home {
  padding-top: 0;// Override .main-content
}
.home {
  @include stack.make-stack(10);
  background-color: lib.$blue-700;
}

// Directions

.home-directions {
  padding-top: lib.size(3);
  padding-bottom: lib.size(3);
  background-color: lib.$white;
  border-top: solid 3px lib.$border-color;
  text-align: center;

  @media (min-width: lib.breakpoint-min-width("sm")) {
    display: none;
  }
}

// Hero

.home-hero {
  position: relative;
  overflow: hidden;
  margin-top: 0;// Override stack
  box-shadow: lib.$box-shadow;

  .home-hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }
  .home-hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
  }
  .home-hero__content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: lib.size(6);
    padding: lib.size(16) lib.size(3);
    text-align: center;

    h1 {
      margin-bottom: 0;
      max-width: 1200px;
      color: lib.$white;
      font-size: var(--font-size-h2);
      font-weight: lib.$font-weight-heavy;
      text-wrap: balance;
    }
    h4 {
      margin-bottom: 0;
      color: lib.$blue-300;
      font-weight: lib.$font-weight-bold;
    }
    .watch-live {
      a {
        @include utils.make-white-link;
      }
      &.hide {
        // Hide link by default
        // The "hide" class is removed by JavaScript on Sunday (see assets/js/watch-live.js)
        display: none;
      }
    }
  }
  @media (max-width: lib.breakpoint-max-width("xs")) {
    // xs width only
    .home-hero__content {
      padding: lib.size(8) lib.size(3);

      img {
        width: 140px;
      }
    }
  }
  @media (min-width: lib.breakpoint-min-width("xxl")) {
    // xxl width and up
    .home-hero__content {
      padding: lib.size(20) lib.size(3);
    }
  }

  // Animation

  h1, img, h4 {
    transform: translate(0, 40px);
  }
  &.js-start-animation {
    h1, img, h4 {
      transform: translate(0, 0);
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    h1 {
      transition: transform 1s lib.$easeOutQuad;
    }
    img {
      transition: transform 1.5s lib.$easeOutQuad;
    }
    h4 {
      transition: transform 2s lib.$easeOutQuad;
    }
  }
}

// Banner

.home-banner {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: lib.size(3);
  align-items: center;
  justify-content: center;
  margin-top: -(lib.size(12));
  padding: lib.size(3);
  background-color: lib.$blue-100;
  border-radius: lib.size(1);

  .home-banner__content {
    text-align: center;

    :last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: lib.breakpoint-min-width("md")) {
    flex-direction: row;
    margin-top: -(lib.size(13.5));
    padding: lib.size(2) lib.size(5);
    border-radius: 999px;

    .home-banner__content {
      text-align: left;
    }
  }
}

// Callout

.home-callout {
  p {
    font-size: var(--font-size-h3);

    &.home-callout__link {
      font-size: lib.$font-size-base;
    }
  }
  @media (min-width: lib.breakpoint-min-width("lg")) {
    background-image: url("/images/home-callout-bkgd.svg");
    background-repeat: no-repeat;
    background-position: top right;

    p {
      font-size: var(--font-size-h2);

      &.home-callout__link {
        font-size: lib.$font-size-lg;
      }
    }
  }
}

// Cards

.home-cards {
  display: flex;
  flex-direction: column;
  gap: lib.size(3);

  .card {
    border: none;
    box-shadow: lib.$box-shadow;
  }

  @media (min-width: lib.breakpoint-min-width("lg")) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// Latest sermon & single event

//.home-sermon, (LATEST SERMON HAS BEEN DIABLED)
.home-events {
  .content-section__media {
    img {
      box-shadow: lib.$box-shadow;
    }
  }
  .content-section__body,
  .content-section__content {
    color: lib.$white;

    a:not(.button) {
      @include utils.make-white-link;
    }
  }
  .content-section__footer {
    .button.button--primary {
      &:hover,
      &:active {
        background-color: rgba(lib.$blue-500, 0.6);
      }
    }
  }
}

// Welcome

.home-welcome {
  .home-welcome__headline {
    margin-bottom: lib.size(4);
    color: lib.$white;
    text-align: center;
  }
}

// Sermons

.home-sermons {
  background-image: url("/images/home-sermons-bkgd.svg");
  background-repeat: no-repeat;
  background-position: bottom right;

  .home-sermons__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: lib.size(3);

    @media (min-width: lib.breakpoint-min-width("lg")) {
      gap: lib.size(4);

      .button {
        @include button.make-button--lg;
      }
    }
  }
}

// Events

.home-events {
  .home-events__headline {
    margin-bottom: lib.size(10);
    color: lib.$white;
    text-align: center;
  }
  .home-events__cards {
    display: flex;
    flex-direction: column;
    gap: lib.size(3);

    .card {
      border: none;
      box-shadow: lib.$box-shadow;
    }
  }
  .home-events__footer {
    margin-bottom: 0;
    padding-top: lib.size(10);
    text-align: center;

    a {
      color: lib.$white;
      font-size: lib.$font-size-lg;
      text-decoration: none;
    }
  }
  @media (min-width: lib.breakpoint-min-width("lg")) {
    .home-events__cards {
      display: grid;
    }
    &.home-events--len-2 {
      .home-events__cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &.home-events--len-3 {
      .home-events__cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
