.main-content.home {
  padding-top: 0;// Override .main-content
}
.home {
  @include make-stack(10);
  background-color: $blue-700;
}

// Directions

.home-directions {
  padding-top: size(3);
  padding-bottom: size(3);
  background-color: $white;
  border-top: solid 3px $border-color;
  text-align: center;

  @media (min-width: breakpoint-min-width("sm")) {
    display: none;
  }
}

// Hero

.home-hero {
  position: relative;
  overflow: hidden;
  margin-top: 0;// Override stack
  box-shadow: $box-shadow;

  .home-hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }
  .home-hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
  }
  .home-hero__content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: size(6);
    padding: size(16) size(3);
    text-align: center;

    h1 {
      margin-bottom: 0;
      max-width: 1200px;
      color: $white;
      font-size: var(--font-size-h2);
      font-weight: $font-weight-heavy;
      text-wrap: balance;
    }
    h4 {
      margin-bottom: 0;
      color: $blue-300;
      font-weight: $font-weight-bold;
    }
    .watch-live {
      a {
        @include make-white-link;
      }
      &.hide {
        // Hide link by default
        // The "hide" class is removed by JavaScript on Sunday (see assets/js/watch-live.js)
        display: none;
      }
    }
  }

  @media (max-width: breakpoint-max-width("xs")) {
    .home-hero__content {
      padding: size(8) size(3);

      img {
        width: 140px;
      }
    }
  }

  // Animation

  h1, img, h4 {
    transform: translate(0, 40px);
  }
  &.js-start-animation {
    h1, img, h4 {
      transform: translate(0, 0);
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    h1 {
      transition: transform 1s $easeOutQuad;
    }
    img {
      transition: transform 1.5s $easeOutQuad;
    }
    h4 {
      transition: transform 2s $easeOutQuad;
    }
  }
}

// Banner

.home-banner {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: size(3);
  align-items: center;
  justify-content: center;
  margin-top: -(size(12));
  padding: size(3);
  background-color: $blue-100;
  border-radius: size(1);

  .home-banner__content {
    text-align: center;

    :last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: breakpoint-min-width("md")) {
    flex-direction: row;
    margin-top: -(size(13.5));
    padding: size(2) size(5);
    border-radius: 999px;

    .home-banner__content {
      text-align: left;
    }
  }
}

// Callout

.home-callout {
  .callout__content > * {
    font-size: var(--font-size-h3);

    @media (min-width: breakpoint-min-width("lg")) {
      font-size: var(--font-size-h2);
    }
  }
  @media (min-width: breakpoint-min-width("lg")) {
    background-image: url("/images/home-callout-bkgd.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

// Cards

.home-cards {
  display: flex;
  flex-direction: column;
  gap: size(3);

  .card {
    border: none;
    box-shadow: $box-shadow;
  }

  @media (min-width: breakpoint-min-width("lg")) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// Sermon & single event

.home-sermon,
.home-events {
  .content-section__media {
    img {
      box-shadow: $box-shadow;
    }
  }
  .content-section__body,
  .content-section__content {
    color: $white;

    a:not(.button) {
      @include make-white-link;
    }
  }
  .content-section__footer {
    .button.button--primary {
      &:hover,
      &:active {
        background-color: rgba($blue-500, 0.6);
      }
    }
  }
}

// Events

.home-events {
  .home-events__headline {
    margin-bottom: size(10);
    color: $white;
    text-align: center;
  }
  .home-events__cards {
    display: flex;
    flex-direction: column;
    gap: size(3);

    .card {
      border: none;
      box-shadow: $box-shadow;
    }
  }
  .home-events__footer {
    margin-bottom: 0;
    padding-top: size(10);
    text-align: center;

    a {
      color: $white;
      font-size: $font-size-lg;
      text-decoration: none;
    }
  }
  @media (min-width: breakpoint-min-width("lg")) {
    .home-events__cards {
      display: grid;
    }
    &.home-events--len-2 {
      .home-events__cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &.home-events--len-3 {
      .home-events__cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
