@media (max-width: breakpoint-max-width("md")) {
  // Hide body scrollbar when mobile nav is open
  body {
    &:has(.main-header__toggle-checkbox:checked) {
      overflow: hidden;
    }
  }
}

.main-header {
  
  // =========================================
  // Shared styles bewtween mobile and desktop
  // =========================================

  .main-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: size(3);
    padding: size(3);
  }
  .main-header__logo {
    width: 240px;

    a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .main-header__toggle-checkbox[type="checkbox"] {
    display: none;
  }
  .main-header__toggle-icon {
    position: relative;
    z-index: 999;
    cursor: pointer;
  }
  .main-header__toggle-icon--open {
    display: inline-block;
  }
  .main-header__toggle-icon--close {
    display: none;
  }

  // ===============
  // Mobile nav only
  // ===============

  @media (max-width: breakpoint-max-width("md")) {
    .main-header__container {
      position: relative;
    }
    .main-header__toggle-checkbox:checked ~ .main-header__toggle {
      .main-header__toggle-icon--open {
        display: none;
      }
      .main-header__toggle-icon--close {
        display: inline-block;
      }
    }
    .main-header__toggle-checkbox:checked ~ .main-header__nav {
      display: block;
    }
    .main-header__nav {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      z-index: 998;
      padding-top: size(8);// Push down nav
      background-color: $dark-blue;
    }
  }

  // ================
  // Desktop nav only
  // ================

  @media (min-width: breakpoint-min-width("lg")) {
    .main-header__container {
      padding: size(3) size(6);
    }
    .main-header__toggle {
      display: none;
    }
  }
}
