@use "../lib";

/*
@markup
<div class="page-header">
  <h1 class="pill-header">
    Title
  </h1>
</div>
*/

.page-header {
  padding: lib.size(6) lib.size(3);
  background-color: lib.$blue-700;
  background-image: url("/images/page-header-bkgd.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: center;

  @media (min-width: lib.breakpoint-min-width("lg")) {
    padding: lib.size(8) lib.size(3);
  }

  &.page-header__fcc-kids-and-families {
    padding: lib.size(3);

    img {
      display: block;
      width: 100%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
    }
    @media (max-width: lib.breakpoint-max-width("md")) {
      background-image: none;
    }
  }
}
