@use "../lib";
@use "../mixins/stack";

.search {
  > * {
    @include stack.make-stack(6);
  }
  .search-form {
    @include stack.make-stack(3);
    text-align: center;
  }
  .search-form__subtitle {
    margin-top: lib.size(1); // Override stack
    color: lib.$gray-500;
  }
  .search-results {
    @include stack.make-stack(6);
  }
  .search-results-entry {
    @include stack.make-stack(3);
    padding-bottom: lib.size(3);
    border-bottom: solid 3px lib.$border-color;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .search-results-entry__title {
    margin-top: lib.size(1); // Override stack
  }
  .search-results-entry__section {
    color: lib.$gray-500;
    font-size: lib.$font-size-sm;
  }
}
