.sunday-morning {
  @include make-stack(8);

  > * {
    @include make-stack(8);
  }
  .sunday-morning__image {
    img {
      display: block;
      object-fit: cover;
      object-position: left center;
      width: 100%;
      height: 400px;

      @media (min-width: breakpoint-min-width("sm")) {
        min-height: 500px;
      }
      @media (min-width: breakpoint-min-width("md")) {
        min-height: 600px;
      }
    }
  }
  @media (min-width: breakpoint-min-width("lg")) {
    .sunday-morning__location,
    .sunday-morning__directions {
      @include make-content-section--center;
    }
  }
}
