@use "../lib";
@use "../mixins/card";
@use "../mixins/stack";

.tests {
  .container {
    @include stack.make-stack(3);
    padding-top: lib.size(8);
    padding-bottom: lib.size(8);
  }
  @media (min-width: lib.breakpoint-min-width("md")) {
    .test-card {
      @include card.make-card--horz;
      @include card.make-card--reverse;
    }
  }
}
