@use "../abstracts";

.main-nav {

  // =========================================
  // Shared styles bewtween mobile and desktop
  // =========================================

  ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
  ul ul {
    padding-top: 0;
  }
  li {
    margin-bottom: 0;
  }
  a {
    font-weight: abstracts.$font-weight-bold;
    text-decoration: none;
  }

  // ===============
  // Mobile nav only
  // ===============

  @media (max-width: abstracts.breakpoint-max-width("md")) {
    ul {
      flex-direction: column;
    }
    a {
      display: block;
      padding: abstracts.size(1.5) abstracts.size(6);
      color: abstracts.$white;
      font-size: abstracts.$font-size-lg;
    }
    li.main-nav--selected > a {
      background-color: rgba(abstracts.$white, 0.1);
    }
    .icon {
      path {
        fill: abstracts.$white;
      }
    }

    // Mobile submenu

    li li {
      padding-left: abstracts.size(6);

      a {
        padding-left: abstracts.size(4);
        border-left: solid 3px abstracts.$border-color;
      }
    }
  }

  // ================
  // Desktop nav only
  // ================

  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    & > ul {
      position: relative; // Needed for desktop submenu
      flex-direction: row;
      justify-content: right;
      align-items: center;
      gap: abstracts.size(6);
    }
    a {
      display: inline-block;
      padding: abstracts.size(1) 0;
    }
    li.main-nav--selected > a {
      color: abstracts.$foreground-color;
      text-decoration: underline;
      text-decoration-color: rgba(abstracts.$blue-300, 0.4);
      text-decoration-thickness: 3px;
    }

    // Desktop submenu

    li:hover ul {
      display: flex;
      flex-direction: column;
      gap: abstracts.size(0.5);
    }
    ul ul {
      display: none;
      position: absolute;
      min-width: 160px;
      padding: abstracts.size(2) abstracts.size(3);
      background-color: abstracts.$white;
      box-shadow: 0px abstracts.size(1) abstracts.size(2) 0px rgba(abstracts.$blue-900, 0.2);
      border-radius: abstracts.size(1);
      z-index: 999;
    }
  }
  @media (min-width: abstracts.breakpoint-min-width("xl")) {
    & > ul  {
      gap: abstracts.size(8);
    }
  }
}
