@use "../lib";

@mixin make-base-font {
  font-family: lib.$font-family-base;
  font-size: lib.$font-size-base;
  font-weight: lib.$font-weight-normal;
  line-height: lib.$line-height-base;
}
@mixin make-header-font {
  font-family: lib.$font-family-display;
  font-weight: lib.$font-weight-heavy;
  line-height: lib.$line-height-tight;
  font-feature-settings: "ss04"; // Use alternate "g" (https://gitlab.com/bonjour-monde/fonderie/syne-typeface/-/issues/4)
}
@mixin make-white-link {
  color: lib.$white;
  text-decoration: underline;
  text-decoration-color: rgba(lib.$white, 0.4);
  text-decoration-thickness: 2px;
}
