<div class="container">
  <div class="content-list is-dense">
    {{ range . }}
      <div class="content-section animate" id="{{ .headline | urlize }}">
        <div class="photo">
          <img src="{{ .photo }}" alt="{{ .headline }}">
        </div>
        <div class="body">
          <h2>
            {{ .headline }}
          </h2>
          <div class="content">
            {{ .content | page.RenderString (dict "display" "block") }}
          </div>
          {{ if .button }}
            <a href="{{ .button.href }}" class="button is-light">
              {{ .button.text }}
            </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
