@use "../abstracts";

.search {
  > * {
    @include abstracts.make-stack(6);
  }
  .search-form {
    @include abstracts.make-stack(3);
    text-align: center;
  }
  .search-form__subtitle {
    margin-top: abstracts.size(1); // Override stack
    color: abstracts.$gray-500;
  }
  .search-results {
    @include abstracts.make-stack(6);
  }
  .search-results-entry {
    @include abstracts.make-stack(3);
    padding-bottom: abstracts.size(3);
    border-bottom: solid 3px abstracts.$border-color;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .search-results-entry__title {
    margin-top: abstracts.size(1); // Override stack
  }
  .search-results-entry__section {
    color: abstracts.$gray-500;
    font-size: abstracts.$font-size-sm;
  }
}
