@use "../abstracts";

.sunday-morning {
  @include abstracts.make-stack(8);

  > * {
    @include abstracts.make-stack(8);
  }
  .sunday-morning__highlight {
    padding-top: abstracts.size(8);
    padding-bottom: abstracts.size(8);
    background-color: abstracts.$blue-500;

    .content-section__body,
    .content-section__content {
      color: abstracts.$white;

      a:not(.button) {
        @include abstracts.make-white-link;
      }
    }
  }
  .sunday-morning__image {
    margin-top: 0;// Override stack

    img {
      display: block;
      object-fit: cover;
      object-position: left center;
      width: 100%;
      height: 400px;

      @media (min-width: abstracts.breakpoint-min-width("sm")) {
        min-height: 500px;
      }
      @media (min-width: abstracts.breakpoint-min-width("md")) {
        min-height: 600px;
      }
    }
  }
  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    .sunday-morning__location,
    .sunday-morning__directions {
      @include abstracts.make-content-section--body-center;
    }
  }
}
