{{ $class := slice "button" -}}
{{/* Get variant */ -}}
{{ if or (eq .variant "light") (eq .variant "dark") (eq .variant "white") -}}
  {{ $class = $class | append (printf "button--%s" .variant) -}}
{{ end -}}
{{/* Get size */ -}}
{{ if or (eq .size "small") (eq .size "large") -}}
  {{ $class = $class | append (printf "button--%s" .size) -}}
{{ end -}}
{{/* Get disabled */ -}}
{{ if or (eq .disabled true) (eq .disabled "true") -}}
  {{ $class = $class | append "button--disabled" -}}
{{ end -}}
{{/* Get block */ -}}
{{ if or (eq .block true) (eq .block "true") -}}
  {{ $class = $class | append "button--block" -}}
{{ end -}}
{{/* Build class names */ -}}
{{ $class = delimit $class " " -}}
{{/* Output */ -}}
<a{{ with .href }} href="{{ . }}"{{ end }} class="{{ $class }}" {{ if hasPrefix .href "http" }} target="_blank" rel="noopener"{{ end }}>
  {{ .label | safeHTML }}
</a>
{{- "" -}}
