{{ define "head" }}
  {{ with resources.Get "js/watch-live.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}

{{ define "main" }}
<div class="home">
  {{ partial "home/mobile-directions.html" . }}
  {{ partial "home/hero.html" .Params.hero }}
  <div class="container">
    {{ partial "home/cards.html" .Params.cards }}
    {{ partial "home/latest-sermon.html" .Params.sermon }}
    {{ partial "home/featured-event.html" . }}
  </div>
</div>
{{ end }}
