{{ define "head" }}
  {{ with resources.Get "js/watch-live.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}

{{ define "main" }}
<div class="home">
  {{/* Mobile directions */}}
  <div class="mobile-directions animate">
    <div class="content">
      {{ partial "shared/address.html" . }}
    </div>
    {{ with site.Data.directions.button }}
      {{ partial "shared/button.html" (dict "href" .href "label" .text )}}
    {{ end }}
  </div>
  {{/* Hero */}}
  <div class="hero is-fixed animate" style="background-image:url('{{ .Params.hero.photo }}');">
    <div class="body">
      {{ partial "shared/fcc.html" }}
      <hr>
      <h3>
        {{ .Params.hero.headline2 }}
      </h3>
      {{ with .Params.hero.button }}
        <div id="watch-live" class="watch-live hide">
          {{ partial "shared/button.html" (dict "href" .href "label" .text )}}
        </div>
      {{ end }}
    </div>
  </div>
  {{/* Featured content */}}
  <div class="container-fluid">
    <div class="cards">
      {{ range .Params.cards }}
        <div class="card animate">
          <div class="media">
            <img src="{{ .photo }}" alt="{{ .headline }}">
          </div>
          <div class="body">
            <h3>
              {{ .headline }}
            </h3>
            <hr>
            <div class="content">
              <p>
                {{ .content }}
              </p>
            </div>
          </div>
          {{ with .button }}
            <div class="footer">
              {{ partial "shared/button.html" (dict "href" .href "label" .text "class" "is-white" )}}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
  {{/* Latest sermon */}}
  {{ $latestSermon := newScratch }}
  {{ range first 1 (where site.RegularPages "Section" "sermons") }}
    {{ $latestSermon.Set "date" ( dateFormat "January 2, 2006" .Date ) }}
    {{ $latestSermon.Set "title" .Title }}
    {{ $latestSermon.Set "content" .Content }}
    {{ $latestSermon.Set "image" .Params.image }}
    {{ $latestSermon.Set "alt" (default .Title .Params.series) }}
  {{ end }}
  <div class="container-fluid">
    <div class="content-section animate">
      <div class="media">
        <a href="{{ .Params.sermon.watch.href }}">
          <img src="{{ $latestSermon.Get "image" }}" alt="{{ $latestSermon.Get "alt" }}">
        </a>
      </div>
      <div class="body">
        <h2>
          {{ .Params.sermon.headline }}
        </h2>
        <h3>
          {{ $latestSermon.Get "date" }} - {{ $latestSermon.Get "title" }}
        </h3>
        <div class="content">
          {{ $latestSermon.Get "content" }}
        </div>
        <div class="actions">
          {{ with .Params.sermon.watch }}
            {{ partial "shared/button.html" (dict "href" .href "label" .text )}}
          {{ end }}
          {{ with .Params.sermon.listen }}
            {{ partial "shared/button.html" (dict "href" .href "label" .text )}}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{/* Featured events */}}
  <div class="featured-events">
    <div class="container-fluid">
      <h2>
        {{ .Params.events.headline }}
      </h2>
      <div class="cards">
        {{ with .Site.GetPage "/events" }}
          {{/* TODO: Modify the card layout so it works with only 1 or 2 events */}}
          {{ $featuredEvents := where .RegularPages "Params.featured" true }}
          {{ $futureEvents := where $featuredEvents "Date" "gt" now }}
          {{ $upcomingEvents := sort $futureEvents "Date" "asc" | first 3 }}
          {{ range $upcomingEvents }}
            <div class="card animate">
              <div class="media">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
              </div>
              <div class="body">
                <h3>
                  {{ .Title }}
                </h3>
                {{ if .Date }}
                  <hr>
                  <h4>
                    {{ with .Date }}
                      {{ time.Format ":date_full" . }}
                    {{ end }}
                    {{ with .Params.end_date }}
                      – {{ time.Format ":date_long" . }}
                    {{ end }}
                    {{ if and .Date .Params.time }}
                      <br>
                    {{ end }}
                    {{ with .Params.time }}
                      {{ . }}
                    {{ end }}
                  </h4>
                  {{ with .Params.location }}
                    <h5>
                      {{ . | markdownify }}
                    </h5>
                  {{ end }}
                {{ end }}
                <div class="content">
                  {{ .Content }}
                </div>
              </div>
              {{ with .Params.rsvp }}
                <div class="footer">
                  {{ partial "shared/button.html" (dict "href" .button.href "label" .button.text "class" "is-white" )}}
                </div>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      <p class="all-events">
        <a href="/events/">{{ .Params.events.view_all }}</a>
      </p>
    </div>
  </div>
</div>
{{ end }}
