{{ if .Params.dateText }}
  <h4 class="subtitle | has-icon">
    {{ partial "components/icon" (dict "name" "date" "size" "sm") }}
    {{ .Params.dateText }}
  </h4>
{{ else }}
  {{ if .Date }}
    <h4 class="subtitle | has-icon">
      {{ partial "components/icon" (dict "name" "date" "size" "sm") }}
      {{ with .Date }}
        {{ time.Format ":date_full" . }}
      {{ end }}
      {{ with .Params.endDate }}
        – {{ time.Format ":date_long" . }}
      {{ end }}
    </h4>
  {{ end }}
  {{ with .Params.time }}
    <h4 class="subtitle | has-icon">
      {{ partial "components/icon" (dict "name" "time" "size" "sm") }}
      {{ . }}
    </h4>
  {{ end }}
{{ end }}
