<div class="event | animate">
  <div class="event__date">
    {{ with .Date }}
      <div class="event__month">
        {{ time.Format "Jan" . }}
      </div>
      <div class="event__day">
        {{ time.Format "2" . }}
      </div>
    {{ else }}
      {{/* Note: TBD events are not shown on the list page, so this would only be shown if navigating to the page directly */}}
      <div class="event__tbd">
        TBD
      </div>
    {{ end }}
  </div>
  <div class="event__body">
    <div class="event__header">
      {{ .Render "event-title" }}
      {{ .Render "event-tags" }}
      {{ .Render "event-date" }}
      {{ .Render "event-location" }}
    </div>
    {{ with .Content }}
      <div class="event__content">
        {{ . }}
      </div>
    {{ end }}
    {{ with .Params.button }}
      <div class="event__footer">
        {{ partial "components/button.html" (dict "href" .href "text" .text "variant" "secondary" )}}
      </div>
    {{ end }}
  </div>
</div>
