{{ define "main" }}
<div class="events">
  <div class="container-lg">
    <div class="content-list">
      {{ $month := "" }}
      {{ range sort .RegularPages "Date" "asc" }}
        {{/* Skip events in the past */}}
        {{ with .Date }}
          {{ if gt (now.Format "2006-01-02") (time.Format "2006-01-02" .) }}
            {{ continue }}
          {{ end }}
        {{ end }}
        {{/* Print date header */}}
        {{ $currentMonth := time.Format "January 2006" .Date }}
        {{ if ne $month $currentMonth }}
          {{ $month = $currentMonth }}
          <h2 class="content-event-header animate">
            {{ $month }}
          </h2>
        {{ end }}
        {{/* Print event detais */}}
        <div class="content-event animate">
          {{ .Render "event-content" }}
        </div>
      {{ end }}
    </div>
  </div>  
</div>
{{ end }}
