{{ define "main" }}
<div class="page--event">
  <div class="container-lg">
    <div class="content-list content-list--dense">
      {{ .Render "event" }}
      {{ if or .NextInSection .PrevInSection }}
        <ul class="paginator">
          {{ with .PrevInSection }}
            <li>
              {{ $label := printf "%s %s &ndash; %s" site.Data.params.labels.older.icon (dateFormat "Jan 2" .Date) .Title }}
              {{ partial "button.html" (dict "href" .RelPermalink "label" $label "variant" "white" )}}
            </li>
          {{ end }}
          {{ with .NextInSection }}
            <li>
              {{ $label := printf "%s &ndash; %s %s" (dateFormat "Jan 2" .Date) .Title site.Data.params.labels.newer.icon }}
              {{ partial "button.html" (dict "href" .RelPermalink "label" $label "variant" "white" )}}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>  
</div>
{{ end }}
