{{ define "main" }}
<div class="about-us">
  <div class="container-lg mission animate" id="mission">
    <h3>
      {{ .Params.mission.headline }}
    </h3>
    <div class="content">
      {{ .Params.mission.content | $.Page.RenderString (dict "display" "block") }}
    </div>
  </div>
  <div class="container-lg vision animate" id="vision">
    <h3>
      {{ .Params.vision.headline }}
    </h3>
    <div class="content">
      {{ .Params.vision.content | $.Page.RenderString (dict "display" "block") }}
    </div>
  </div>
</div>
{{ end }}
