{{ with site.GetPage "/events" }}
  {{/* Find next upcoming featured event */}}
  {{ range sort .Params.events "date" "asc" }}
    {{ with .date }}
      {{/* Skip events in the past */}}
      {{ if gt (now.Format "2006-01-02") (time.Format "2006-01-02" .) }}
        {{ continue }}
      {{ end }}
    {{ end }}
    {{ if eq .featured true }}
      {{ if .layout }}
        {{/* Has custom layout */}}
        {{ partial .layout . }}
      {{ else }}
        <div class="featured-event animate">
          <div class="body">
            <h2>
              {{ .title }}
            </h2>
            {{ if .date }}
              <hr>
              <h3>
                {{ partial "events/event-date.html" . }}
              </h3>
              {{ with .location }}
                <h4>
                  {{ . }}
                </h4>
              {{ end }}
            {{ end }}
            {{ with .content }}
              <div class="content">
                {{ . | page.RenderString (dict "display" "block") }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}
