{{ with site.GetPage "/events" }}
  {{/* Find next upcoming featured event */}}
  {{ range sort .Params.events "date" "asc" }}
    {{ with .date }}
      {{/* Skip events in the past */}}
      {{ if gt (now.Format "2006-01-02") (time.Format "2006-01-02" .) }}
        {{ continue }}
      {{ end }}
    {{ end }}
    {{ if eq .featured true }}
      {{ if .featured_layout }}
        {{/* Render custom layout */}}
        {{ partial .featured_layout . }}
      {{ else }}
        {{/* Render standard layout */}}
        <div class="featured-event animate">
          {{ partial "home/featured-event-body.html" . }}
        </div>
      {{ end }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}
