<div class="content-section animate">
  <div class="media">
    <a href="{{ .watch.href }}">
      <img src="{{ .photo }}" alt="Watch sermons">
    </a>
  </div>
  <div class="body">
    <h2>
      {{ .headline }}
    </h2>
    {{ range first 1 (where site.RegularPages "Section" "sermons") }}
      <h3>
        {{ .Title }} - {{ .Params.verse }}
      </h3>
      <div class="content">
        {{ .Content }}
      </div>
    {{ end }}
    <div class="actions">
      <a href="{{ .watch.href }}" class="button">
        {{ .watch.text }}
      </a>
      <a href="{{ .listen.href }}" class="button" target="_blank">
        {{ .listen.text }}
      </a>
    </div>
  </div>
</div>
