<div class="content-section latest-sermon is-vertical-center animate">
  <div class="media">
    <a href="{{ .watch.href }}">
      <img src="{{ .photo }}" alt="Watch sermons">
    </a>
  </div>
  <div class="body">
    <h2>
      {{ .headline }}
    </h2>
    {{ partial "home/latest-sermon-content.html" . }}
    <div class="actions">
      <a href="{{ .watch.href }}" class="button">
        {{ .watch.text }}
      </a>
      <a href="{{ .listen.href }}" class="button" target="_blank">
        {{ .listen.text }}
      </a>
    </div>
  </div>
</div>
