@use "../abstracts";

@mixin make-button {
  display: inline-block;
  padding: 8px 16px;
  color: abstracts.$blue-500;
  background-color: transparent;
  border-radius: abstracts.size(0.5);
  outline-width: 0;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: abstracts.$font-family-base;
  font-weight: abstracts.$font-weight-bold;
  font-size: abstracts.$font-size-base;
  line-height: abstracts.$line-height-base;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:focus {
    outline: 0;
  }
  &:hover,
  &:active {
    color: abstracts.shade-color(abstracts.$blue-500, 20%);
    background-color: rgba(abstracts.$blue-500, 0.1);
    text-decoration: none;
  }
  img {
    display: block;
  }
}
@mixin make-button--primary {
  color: abstracts.$white;
  background-color: abstracts.$blue-500;

  &:hover,
  &:active {
    color: abstracts.$white;
    background-color: abstracts.shade-color(abstracts.$blue-500, 20%);
  }
}
@mixin make-button--secondary {
  color: abstracts.$blue-500;
  background-color: rgba(abstracts.$blue-300, 0.3);

  &:hover,
  &:active {
    color: abstracts.shade-color(abstracts.$blue-500, 20%);
    background-color: rgba(abstracts.$blue-300, 0.4);
  }
}
@mixin make-button--dark {
  color: abstracts.$white;
  background-color: abstracts.tint-color(abstracts.$foreground-color, 10%);

  &:hover,
  &:active {
    color: abstracts.$white;
    background-color: abstracts.tint-color(abstracts.$foreground-color, 15%);
  }
}
@mixin make-button--white {
  color: abstracts.$blue-500;
  background-color: abstracts.$white;

  &:hover,
  &:active {
    color: abstracts.shade-color(abstracts.$blue-500, 20%);
    background-color: abstracts.tint-color(abstracts.$blue-500, 90%);
  }
}
@mixin make-button--lg {
  padding: 12px 24px;
  font-size: abstracts.$font-size-lg;
}
@mixin make-button--md {
  padding: 8px 16px;
  font-size: abstracts.$font-size-base;
}
@mixin make-button--sm {
  padding: 6px 12px;
  font-size: abstracts.$font-size-sm;
}
@mixin make-button--block {
  display: block;
  width: 100%;
}
@mixin make-button--disabled {
  pointer-events: none;
  opacity: 0.25;
}
