@use "../abstracts";

@mixin make-content-section {
  display: flex;
  flex-direction: column;
  gap: abstracts.size(6);

  .content-section__media {
    figure {
      margin-bottom: 0;
    }
  }
  .content-section__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: abstracts.size(3);
  }
  .content-section__header,
  .content-section__content,
  .content-section__footer {
    & > :last-child {
      margin-bottom: 0;
    }
  }
  .content-section__footer  {
    display: flex;
    flex-direction: row;
    gap: abstracts.size(3);
  }
  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    flex-direction: row;
    
    .content-section__media {
      width: 40%;
    }
    .content-section__body {
      width: 60%;
    }
  }
}
@mixin make-content-section--stack {
  flex-direction: column;
  
  .content-section__media,
  .content-section__body {
    width: auto;
  }
}
@mixin make-content-section--center {
  .content-section__body {
    align-items: center;
    text-align: center;
  }
}

