<footer class="main-footer">
  <div class="container-fluid">
    <div class="main-footer__top-row">
      <div class="main-footer__contact">
        {{ with site.Data.footer.contact }}
          <h3>
            {{ .headline }}
          </h3>
          <div>
            {{ .content | $.Page.RenderString (dict "display" "block") }}
          </div>
        {{ end }}
        {{ with site.Data.footer.contact.button }}
          {{ partial "shared/button.html" (dict "href" .href "label" .text )}}
        {{ end }}
      </div>
      <div class="main-footer__apps">
        {{ with site.Data.footer.apps }}
          <h3>
            {{ .headline }}
          </h3>
          <div>
            {{ .content | $.Page.RenderString (dict "display" "block") }}
          </div>
        {{ end }}
        <div class="main-footer__app-buttons">
          {{ with site.Data.footer.apps.app_store }}
            {{ partial "shared/button.html" (dict "href" .url "label" (printf `<img src=%q alt=%q>` .image "App Store") "variant" "dark")}}
          {{ end }}
          {{ with site.Data.footer.apps.google_play }}
            {{ partial "shared/button.html" (dict "href" .url "label" (printf `<img src=%q alt=%q>` .image "Google Play") "variant" "dark")}}
          {{ end }}
        </div>
      </div>
      <div class="main-footer__address">
        {{ partial "shared/address.html" . }}
        {{ partial "shared/mailing-address.html" . }}
        <p>
          <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a><br>{{ site.Params.phone }}
        </p>
      </div>
    </div>
    <div class="main-footer__bottom-row">
      <div class="main-footer__social">
        <ul>
          {{ range site.Data.footer.social }}
            <li>
              <a href="{{ .url }}" target="_blank">
                <img src="{{ .image }}" alt="{{ .title }}">
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="main-footer__copyright">
        <p>
          &copy; {{ dateFormat "2006" now }} by Fountain City Church
        </p>
      </div>
    </div>
  </div>
</footer>
