/*
@markup
<div class="fixed-img" style="background-image:url('Image');">
</div> 
*/

.fixed-img {
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: breakpoint-min-width("sm")) {
    min-height: 500px;
  }
  @media (min-width: breakpoint-min-width("md")) {
    min-height: 600px;
  }
  @media (min-width: breakpoint-min-width("lg")) {
    background-attachment: fixed;
  }
}
