{{ $href := .Get "href" -}}
{{ $class := slice "button" -}}
{{/* Get variant */ -}}
{{ $variant := .Get "variant" -}}
{{ if or (eq $variant "light") (eq $variant "white") -}}
  {{ $class = $class | append (printf "is-%s" $variant) -}}
{{ end -}}
{{/* Get size */ -}}
{{ $size := .Get "size" -}}
{{ if eq $size "large" -}}
  {{ $class = $class | append (printf "is-%s" $size) -}}
{{ end -}}
{{/* Get block */ -}}
{{ $block := .Get "block" -}}
{{ if eq $block "true" -}}
  {{ $class = $class | append "is-block" -}}
{{ end -}}
{{/* Get disabled */ -}}
{{ $disabled := .Get "disabled" -}}
{{ if eq $disabled "true" -}}
  {{ $class = $class | append "is-disabled" -}}
{{ end -}}
{{ $class = delimit $class " " -}}
<a href="{{ $href }}" class="{{ $class }}" {{ if hasPrefix $href "http" }} target="_blank" rel="noopener"{{ end }}>
  {{- .Inner -}}
</a>{{ "" -}}
