.congregational-meeting {
  background-color: #0e71c1;
  background-image: url(/featured-events/congregational-meeting/bkgd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
